[2018-12-18 16:40] tmfrnz opened #9 "Country view"
### Job story

When I am viewing a single country...

... I want to be able to explore all the available data and content with increasing detail, including
* a high level summary charts for the 3 right dimensions (#25)
* a country narrative (#22)
* a chart for an overview of the 12 different rights (#6)
* scores for underlying ESR indicators (#4), including for sub-groups where available (#23)
* r

[2018-12-18 16:40] tmfrnz opened #8 "Overview by country (multiple petals)"
### Job story

When I am viewing the country overview ...

... I want to be able to explore suitable data for multiple, if not all countries
* high level summary charts for the 3 right dimensions (see also #25)
* overviews of the 12 different rights (see also #6)
* possibly also scores for underlying ESR indicators (#4), including for sub-groups where available (#23)
* possibly also raw data for u

[2018-12-18 16:41] tmfrnz opened #21 "Metric view (dimension, right, indicator)"
### Job story

When I am viewing a single right...

... I want to be able to explore all the available data, including
* an overview of the most recent performance of multiple, if not all countries
* an overview of the performance of multiple, if not all countries, over time
* a chart for groups most at risk for selected country (#9)
* possibly drill down to underlying indicator scores and raw dat

[2018-12-18 16:43] tmfrnz opened #7 "Visualise ESR indicator scores (2 targets)"
### Job story

When I am viewing a single country (#1) ...

... I want to be able to explore the underlying indicator scores visually that make up the score for a particular right (ESR), including in relation to the different targets (immediate, long term), ...

... so I can better understand how the right score was derived.

### Additional considerations

* Currently scores are only presented as

[2018-12-18 16:46] tmfrnz opened #26 "Visualise country scores (petal charts, 2 targets)"
### Job story

When I am exploring multiple countries side by side (#2) or a single country (#1)

... I want to be able to see the scores for all 12 rights at a glance

... so that I can easily compare them between countries and for each right

### Additional considerations

* Current petal charts (a form of radar charts) are visually misleading and not well-suited for showing multiple indicators

[2018-12-18 16:47] tmfrnz opened #19 "Groups: search for vulnerable groups"
### Job  story

When I am exploring the data portal...

... I want to be able to search for vulnerable groups

... so I can see where in the world specific population groups are most at risk

### Additional considerations

* Groups at risk are a different concept than the sub-groups for disaggregated indicator data
* Data are specified for a specific right and a specific country
* Challenge: data

[2018-12-18 16:47] tmfrnz opened #6 "Country-Right: visualise ESR vulnerable groups (word cloud)"
### Job story

When I am exploring information on a single country and a single ESR right (could be in the single country view #1, or single right view #3) ...

... I want to see a chart of the groups most at risk ...

... so I can better understand the implications of the lack of rights enjoyment

### Additional considerations

* Currently already available for CPR (for countries with CPR assessm

[2018-12-18 16:50] tmfrnz opened #5 "Data exploration (navigate data overall)"
### Job story

When I am exploring the data

I want to be able to determine
* what data I want to see and
* possibly even how it is presented (change chart type, or table)

and I want to be aware at all times
* what data I am looking at
* how I got to this view of the data
* how I can return to a previous view
* how I can modify the current view
* what other views I can go to
* what other options

[2018-12-18 16:51] tmfrnz opened #24 "Groups: Qualitative group analyses"
### Job story

When I am viewing information on a single country

I want to be able to read the qualitative analysis about groups at risk

so I have a better understanding about the situation for specific groups in a country

### Job story 2

When I am interested about groups at risk

I want to be able to read all qualitative analyses available for the different countries

so I have a better under

[2018-12-18 16:51] tmfrnz opened #4 "Mobile support"
### Job story

When I am exploring the data portal on a mobile device

... I want to be able to view and navigate the data just as when on a tablet or desktop device

... so I can enjoy the site on the go.

### Additional considerations

* Should be considered when working on most other enhancements ([label:enhancements](https://github.com/HumanRightsMeasurementInitiative/motu-hrmi-dataportal/labe

[2018-12-18 16:52] tmfrnz opened #3 "Design and usability considerations"
A collection of general design and usability considerations

[2018-12-18 16:52] tmfrnz opened #12 "EU GDPR compliance (cookie consent)"
Make sure site is compliant with EU GDPR regulation that requires
* privacy policy
* cookie consent feature

### Tasks

* Identify what user data is stored and processed
* Allow users to opt out of non-essential cookies
* Inform users about cookies and personal data

[2018-12-18 16:54] tmfrnz opened #23 "Editorial content maintenance"
Editorial content:
- About the Initiative
- Methodology
- How to use

Currently bundled with app logic and requires developer support to update

Could be improved using GitHub Pages and Jekyll (requires #19)

Similar to #12

[2018-12-18 16:55] tmfrnz opened #22 "App hosting & deployment"
Currently the data portal app is stored in a sub-directory of the WordPress install, hosted by WPEngine. Deployment likely only possible via SFTP transfer after manual build (there is also a Git based deploy but would be for full WordPress install)

Hosting data app independently would
* require sub-domain (eg data.humanrightsmeasurement.org) instead of sub-directory (humanrightsmeasurement.org/da

[2018-12-18 17:05] tmfrnz opened #2 "Country: auto-narrative"
### Job story

When I am viewing a single country (#1) ...

... I want to see a narrative that provides an written summary of the country's performance based on the 3 dimension scores (#25), as well as groups at risk data (related to #9) ...

... so I better understand the data and information provided

### Additional considerations

* Should be available for all 4 languages
* Auto-generated by ap

[2018-12-18 17:17] tmfrnz opened #17 "Visualise ESR indicator & right scores by population group"
### Job story

When I am viewing a single country (#1) ...

... I want to be able to explore the underlying indicator scores visually for each sub-group ...

... so I can better understand the implications for population groups.

### Additional considerations

* Currently only scores for all groups are presented (#4)
* Possible group breakdowns are by sex, ethnicity, urban/rural status, income qua

[2018-12-18 17:20] tmfrnz opened #1 "Country view: summary charts (3 dimensions)"
### Job story

When I am viewing a single country (#1) ...

... I want to see a high level summary charts for the 3 right dimensions ...

... so I quickly assess its performance

### Additional considerations

* 3 dimensions are: Empowerment (subset of CPR), Physical Integrity (subset of CPR), Economic & Social rights (all ESR)
* CPR scores on a scale from 0 to ~10 (scores may exceed 10 slightly d

[2018-12-18 17:47] tmfrnz opened #15 "Country: performance over time"
### Job story

When I am viewing a single country (#1) ...

... changes over time for raw indicator data, indicator and right scores, as well as right dimensions ...

... so I quickly assess the performance change over time

### Additional considerations

* While timeline chart in single right view (#3) shows data for a single right and multiple countries, this would show data for multiple rights

[2018-12-19 14:59] tmfrnz opened #14 "Editorial content"
Editorial content:
- About the Initiative
- Methodology
- How to use

Currently content is shown in overlay with white on blue text.

* consider using individual pages. panels provide little space.
* improve legibility (colours/layout)
* formatting would be nice (see #18 and #19 for different technical options)

[2019-05-21 18:37] tmfrnz opened #10 "Share charts & views"
### Job story

When I want to share the data portal, a specific view or chart

... I want to be able to do so with as little effort as possible and with relevant information

... so that my social media contacts can easily enjoy the data portal

### Additional considerations

* Currently not all views have unique URLs (eg right or country highlighted)
* Include sharing options for
  * portal
  * i

[2019-05-21 18:38] tmfrnz opened #11 "Data maintenance & hosting"
### Job story

When new data is available or old data has changed

I want  to be able to easily publish it on the website

so I do not have to rely on a software developer to do it for me

### Additional considerations

* Data is currently being bundled into the application
  * leading to poor performance
  * requiring a full application update when the data changes
  * effectively mixing content

[2019-05-21 18:38] tmfrnz opened #13 "Visualise ESR raw indicator data"
### Job story

When I am viewing a single country (#1) ...

... I want to be able to explore the underlying raw indicator data visually that are the basis for an indicator score (#4) including in relation to the different targets (immediate, long term), ...

... so I can better understand how the indicator score was derived.

### Additional considerations

* Currently raw indicator data is not pre

[2019-05-21 18:39] tmfrnz opened #16 "Visualise ESR raw indicator by population group"
### Job story

When I am viewing a single country (#1) ...

... I want to be able to explore the underlying raw indicator data visually for each sub-group ...

... so I can better understand how the implications for the individual population groups.

### Additional considerations

* Currently raw indicator data is not presented
* For each score the immediate and long term target can be visualised

[2019-05-21 18:39] tmfrnz opened #18 "Accessibility WCAG2.0"
Make sure site is accessible for vision impaired, including
* colour blindness
* poor contrast vision
* blind (screen reader users)

See also https://www.w3.org/TR/WCAG20/

### Considerations

* where data is encoded by colour, colours should be distinguishable for colour blind audiences or encoded by an additional method (eg shape, line style, etc)
* where data is visualised, data should also (or

[2019-05-21 18:39] tmfrnz opened #20 "Country: comparisons"
### Job story

When I am exploring the data portal...

... I want to be able to view data for my (or a specific) country alongside data for a group of related countries (by region or by income group) or a different country of my choice

... so I can compare my country's performance with the performance of other countries

### Additional considerations

* currently already possible for regions on c

[2019-05-21 18:41] tmfrnz opened #25 "Open data"
### Job story

When I want to explore the data independently from the data portal

I want to be able to easily download the data or load it into a different application programmatically using an API

### Additional considerations

* requires #17, see for options

[2019-05-21 18:46] tmfrnz opened #27 "Header: data download files"
Make data files available for download

[2019-05-26 12:47] tmfrnz opened #28 "Collection of ideas"
A place to collect various ideas for improving the portal

- add "standard note" to settings panel on country view when viewing in non default standard (similar to HI note on other views)

[2019-05-26 13:29] tmfrnz opened #29 "Launch v2.0 TODO list"
### Hosting

- [x] consider Firebase #22
- [ ] possibly set up DataHub  #11, #25

### General

- [x] explanatory information (eg why are the metrics not on the same scale)
- [x] consider "methodology" links throughout
- [x] use info icon for tooltips
- [x] ~~case studies?~~
- [x] how to read chart
- [x] Loading indicator
- [x] disable translations for now?
- [x] clean up react boilerplate
- [x] ad

[2019-05-28 07:30] tmfrnz opened #32 "Very slow on MS Edge browser"
From @annemariebrook via email

[2019-05-28 07:36] tmfrnz commented on #32
@annemariebrook I could not reproduce this here error on Edge or Internet Explorer (emulating version 8-11)

Would you be able to let me know the IE version they were using? If not it would be helpful if you and your team could try running this on any IE browser any of you may have installed

[2019-05-30 08:48] tmfrnz opened #36 "Editorial content does not load (or loads slowly for translated versions)"
ie https://hrmi-dataportal.web.app/pt/page/methodology?as=hi&tab=1

[2019-05-30 15:53] tmfrnz commented on #36
This was due to a larger issue around loading content where content requested from sub-components was requested before the main application was ready to process and execute the request

[2019-05-30 15:53] #36 closed

[2019-06-01 13:33] tmfrnz commented on #28
- [ ] add countru/score tooltip on metric preview

[2019-06-01 14:49] tmfrnz commented on #28
- [ ] add data year to metric chart

[2019-06-03 13:16] #23 closed

[2019-06-03 13:17] tmfrnz commented on #22
For now hosted on Google Firebase

[2019-06-03 13:17] #22 closed

[2019-06-07 09:23] tmfrnz opened #38 "Category tool tip flickering on mouse over"
The following bug description was provided via email:

![hrm data bug](https://user-images.githubusercontent.com/5811956/59094505-8f6bc000-8916-11e9-8d42-457c9889a4dc.gif)

[2019-06-07 09:25] tmfrnz commented on #38
To confirm: the issue only affects narrow screens (width less than 992px )

[2019-06-07 09:40] #38 closed

[2019-06-11 20:46] tmfrnz opened #39 "Details overlay fails on iPhone (Safari & Chrome)"
Modal opens "People at risk" tab but layout is broken, making it impossible to see full content or navigate to other tabs (ie over time, about).

[2019-06-24 16:53] tmfrnz opened #40 "Wordclouds jump on Firefox"
@annemariebrook via email:

[2019-06-24 16:55] tmfrnz opened #41 "Sub-scores not labelled in country page drill-down"
@annemariebrook via email:

[2019-06-24 16:56] tmfrnz commented on #32
@annemariebrook via email:

[2019-06-24 16:58] tmfrnz opened #42 "Slovenia should be categorised as OECD country"
@annemariebrook via email

[2019-06-24 17:06] tmfrnz commented on #42
See https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/commit/3e0438b114050107010e7bc4c881f304a419788d

[2019-06-24 17:08] #42 closed

[2019-06-24 17:09] tmfrnz opened #43 "Add GA tracking"
Google Analytics

needs #12

[2019-06-24 17:12] tmfrnz opened #44 "Add welcome screen"

[2019-06-24 17:13] tmfrnz commented on #2
TODO: translate grammar to PT, ES, FR

[2019-06-24 17:25] tmfrnz opened #45 "Countries should not be highlighted on "overview by metric" on small screens"
![Screenshot_20190624-192335](https://user-images.githubusercontent.com/5811956/60038943-df3bdc80-96b5-11e9-9d12-a807d147dc6b.png)

[2019-06-25 11:53] tmfrnz opened #46 "Consider switching to rights scale by default where dimension score missing"
Thalia via email

[2019-06-26 14:19] #40 closed

[2019-06-26 15:11] #41 closed

[2019-06-27 17:23] tmfrnz opened #47 "Details overlay scroll behaviour is buggy (iPhone Safari/Chrome)"
When scrolling the details overlay all the way to the bottom, the underlying content becomes visible and is being scrolled (details overlay is scrolled out of view). Expected behaviour would be that scrolling would stop once the bottom of the details panel is reached

![scroll](https://user-images.githubusercontent.com/5811956/60286979-0d692880-9911-11e9-8761-6bedeb1a5e77.jpg)

[2019-06-27 17:23] #39 closed

[2019-06-27 17:55] tmfrnz commented on #47
due to known iOS issue
https://bugs.webkit.org/show_bug.cgi?id=153852

suggestions for workaround
https://medium.com/jsdownunder/locking-body-scroll-for-all-devices-22def9615177

[2019-06-28 14:46] #47 closed

[2019-06-28 14:58] #45 closed

[2019-07-05 13:14] tmfrnz commented on #44
![i-home-tour-home](https://user-images.githubusercontent.com/5811956/60724760-8da61400-9f37-11e9-9def-f2e127d275e5.png)

[2019-07-05 17:02] tmfrnz commented on #44
deployed to test site

[2019-07-10 16:10] tmfrnz opened #51 "Definition of the Right to Participate in Government not showing"
This is due to an error in the messages file, resulting in the edited text (from en.json) not being displayed

[2019-07-10 16:12] tmfrnz opened #52 "Remove "back/close" except on editorial pages"
Some users accidentally use the back/close button when wanting to navigate to the "Report" tab but are taken back to overview (as intended)

[2019-07-10 19:03] #51 closed

[2019-07-11 08:37] #44 closed

[2019-07-21 13:31] #27 closed

[2019-07-21 13:55] tmfrnz commented on #13
Add option to toggle between scores and raw values

### Country page
Toggle position with note within expanded indicators (in accordion)
![hrmi_raw](https://user-images.githubusercontent.com/5811956/61592039-065ece80-abce-11e9-8dea-f410f41ec5d8.png)

### Country-Metric details (over time)
Toggle position below chart
(adjusted to current design)
![image](https://user-images.githubusercontent.com/58

[2019-07-21 14:26] tmfrnz opened #56 "Consider alternative options for ESR representation in country summary"
When looking at country aggregates, users may compare bar lengths of ESR and CPR  values and infer that country A is doing better or worse for ESR then for CPR if the bar is longer. However the 2 types of scores are on different scales using different methodologies and should thus not be compared. E.g if a country scores 88% for ESR (immediate duty) and 8.1 of 10 for Empowerment, it does not mean

[2019-07-21 14:59] tmfrnz commented on #56
To make it less likely that users draw wrong conclusions, several options have been discussed:

1. Use and visualise qualitative grades instead of scores for ESR metrics in summary view

Rather than visualising scores on a continuous scale, grades would be shown on a discrete 6 step scale, emphasising the difference between ESR and CPR

![image](https://user-images.githubusercontent.com/5811956/61

[2019-07-21 15:47] tmfrnz commented on #56
In addition one could consider several combinations, i.e. introduce grades (3) in addition to uncertainty visualisation (4)

[2019-08-12 15:31] tmfrnz opened #57 "Metric indicator chart fails to show adjusted benchmark values (when set to global best)"

[2019-08-12 15:36] #57 closed

[2019-08-12 16:11] tmfrnz commented on #57
Due to inconsistent column names
- Dimension & Right scores: "average_immediate_duty_wrt_global_best"
- Indicator scores: "immediate_duty_wrt_global_best"

[2019-09-02 10:02] tmfrnz opened #58 "Can only change language after dismissing the welcome panel"
Users will thus have to reload the page to see the welcome panel in their language.

Could instead
- include a language toggle in the welcome panel
- show the welcome panel (and navigate to homepage) when changing languages (possibly only on the home page)

[2019-09-03 08:24] #1 closed

[2019-09-03 08:24] #2 closed

[2019-09-03 08:24] #4 closed

[2019-09-03 08:24] #5 closed

[2019-09-03 08:24] #6 closed

[2019-09-03 08:24] #7 closed

[2019-09-03 08:25] #8 closed

[2019-09-03 08:25] #9 closed

[2019-09-03 08:25] #21 closed

[2019-09-03 08:25] #14 closed

[2019-09-03 08:26] #24 closed

[2019-09-03 08:26] #26 closed

[2019-09-04 14:00] tmfrnz commented on #17
Feedback/issues by Susan (via email(:

[2019-09-04 14:32] tmfrnz opened #59 "Develop new landing page"
Sometimes referred to "Netflix style" landing page

[2019-09-04 14:43] tmfrnz opened #60 "Update country snapshot (print/A4)"
Users really liked the idea of an A4 country summary document

To be determined/considered:
- scope (what country information and data to be included)
- variations (what options users have to customise the snapshot)
- print layout
- online layout and integration with current site (also consider sharability of summary graphic)
- desired export format (PDF and//or image file)
- technical export opti

[2019-09-04 15:03] tmfrnz opened #61 "Consider print/export options"
For generating charts and summary documents for export, download and print there are 3 options to be considered

## client-side (in browser JavaScript)
Document/image is generated by the application in the browser

Pro
- no server needed
- no need to load data and text translations
- produces PDF (for summary documents) with real text making it searchable and copyable

Con
- capability and consist

[2019-09-04 15:04] tmfrnz commented on #10
Also see #61 for options to generate preview images

[2019-09-04 15:06] tmfrnz opened #62 "Consider better integration of data portal with main HRMI site"
Options to be considered

- render the data site within the wordpress site. This would be challenging in lots of ways. E.g. On our wordpress site, when you change the language a new page is loaded. On our data site, the page does not change, only the words on it.

- make the header of the portal LOOK more as though it is the main HRMI website. Including a header that would take you back to the wor

[2019-09-04 15:06] tmfrnz opened #63 "Make search and country/metric selection options more obvious"

[2019-09-04 15:07] #3 closed

[2019-09-04 15:09] tmfrnz opened #64 "Add "changed standard" hint"
When a user selects a country, the assessment standard will be automatically changed. It would be good to inform the user that the standard has been adjusted

[2019-09-05 09:39] annemariebrook commented on #52
We think that rather than considering alternatives, the best (and simplest) solution would be just to delete the "back/close" UI, EXCEPT on the pop-up windows (e.g. people at risk window within the accordian drop-down menu), where the X should be kept but the word "back" deleted. Does that make sense?

[2019-09-05 11:25] tmfrnz commented on #52
We do not think it is a good idea to omit the back/close button

Reasons:
- only in-app navigation guarantees consistent usability and behaviour across devices
- the back/close button is not a simple step back in the browsing history but instead designed to go back UP to a different navigational level
  - on the country page we want to allow users to go back UP to the overview (while retaining any

[2019-09-09 22:36] annemariebrook commented on #52
While this reasoning makes sense for the current website, I'm not sure it will make sense when the site is revised. e.g. especially given the proposed change from the current landing page to a netflix style page.

Can I propose that we wait to tackle this issue until after we have changed the landing page?

[2019-09-09 22:54] annemariebrook commented on #60
Scope:
- We are happy with the current scope (i.e. on the snapshot mockups) i.e. we are happy to not include people at risk and to only show the ESRs against the income-adj benchmark.
- We want to use the 12 rights view (not 3 categories). E.g. https://humanrightsmeasurement.org/wp-content/uploads/2019/08/Country-Snapshot-%E2%80%93-Fiji_12-rights-1.pdf. Otherwise there will be too much missing dat

[2019-09-09 23:00] annemariebrook commented on #59
We would like to hear Timo & Edith’s suggestions for this. But in terms of our thinking, please see the two attachments from Chad who says: “In case it is useful to share, here's what I had in mind. I have attached an actual screenshot from Netflix and a really ugly sketch I just did. The thought that I am trying to convey there are headings like regional names where it says "Bingeworthy TV shows"

[2019-09-09 23:13] annemariebrook commented on #56
See my comments on the different options on Github issue #60.
Here I have some additional comments on two of the options:
1. Comments on Timo's new summary option: https://hrmi-dataportal-summary5.web.app/en/country/AUS?as=hi&scale=r
•	We all really like this
•	We'd like to experiment with the wording some more, to avoid that "poor" be conflated with income. As a first step please replace “poor” w

[2019-09-10 16:58] tmfrnz opened #65 "Better/worse annotations broken"
~While I cannot reproduce the issue myself,~ here are some details provided by @annemariebrook

### Browsers/Version
Chrome 76

### Screenshot
![0](https://user-images.githubusercontent.com/5811956/64879755-f22bd080-d656-11e9-8b26-699d434bc41e.png)

[2019-09-10 17:02] tmfrnz opened #66 "Add FAQ on number of survey respondents"
- Some users requested that we add info on the number of survey respondents. We don't want to make this information high profile, as it can easily be misinterpreted. But we should add an FAQ somewhere, directing people to our methodology note, so that people can more readily find this information.

Timo - I was trying to add this item as a new issue in the Backlog section. but it's a 'note'. Feel

[2019-09-13 14:04] tmfrnz opened #67 "Add ESR source information to "About" tab of country-metric overlay"

[2019-09-13 14:08] tmfrnz opened #68 "Improve ESR comparative assessment"
Via email from @annemariebrook

[2019-09-15 01:09] annemariebrook commented on #68
Thanks Timo for creating this issue on GitHub. Keen to hear which of the two options you prefer. Our preference is for Option 1 because it seems closer to the “average” comparative assessment that we provide for the countries with a full set of data. But that’s not a strong view.

[2019-09-15 12:48] tmfrnz commented on #68
Thanks @annemariebrook for following up. I had a quick look at the code and my preference (at least for the short term) would be the original plan as it would be a very quick fix for the error identified. After all this is what the current implementation was built to do.

The other 2 options, and especially option 1, would require significantly more development effort and testing (and possibly als

[2019-09-15 13:03] tmfrnz commented on #60
Thanks @annemariebrook for these additional considerations.

One question to be considered would be how this (ie showing 12 rights) would integrate with the overview (or new landing page #59) and also country narratives (where we may prefer to show category aggregates).

Maybe this should be considered as part of a larger discussion about "when do we introduce the user to what data and options?"

[2019-09-15 13:11] tmfrnz commented on #59
Thank you @annemariebrook, the images have been properly attached.

Generally we believe that this idea is well worth pursuing (and very much in line with what we had in mind) however we are also a bit confused as we thought your current preference would be to not confront the user with any data on the landing page. Regardless, when showing data (which we would probably actually prefer) users must

[2019-09-15 13:15] tmfrnz commented on #52
Happy to wait, but I think we will still need to offer users a way "back to the overview/new landing page" both when a country or a metric is selected

[2019-09-15 14:16] tmfrnz commented on #56
@annemariebrook please keep in mind that the favoured summary option 5 (bars with brackets in the background) is just an initial concept and will require further refinement. Also we may want to consider implications for other representations, including metric views and narrative-accordions

[2019-09-15 21:36] annemariebrook commented on #52
Agreed.

[2019-09-15 21:44] annemariebrook commented on #60
Indeed, these are all important points. From a practical perspective, I angle more towards "produce something and test it with users as soon as possible" rather than "spend a lot of time discussing options and trying to nail everything down in advance", but i appreciate that there is a balance to be reached here.

[2019-09-15 21:46] annemariebrook commented on #59
Yes, I was also aware of that inconsistency when I passed on Chad's suggestion. As you point out, it does conflict with the idea of not confronting the user with data on the landing page.  Ultimately, this is a question for users, so I would like to take some options to testing as soon as possible so that we can be guided by users.

[2019-09-15 21:51] annemariebrook commented on #68
Thanks @tmfrnz.  I wouldn't say it is urgent, but the fact that the comparative assessment features on the country snapshot was what led us all to a reasonably strong preference for pursuing Option 1 or 2. Let's discuss at our call this week, as I'm keen to learn more about why you think Option 1 may require some additional thinking.

[2019-09-16 14:08] tmfrnz commented on #17
Going through the identified issues:

In the Kazakhstan example, the most recent data for "secondary school enrolment" and "All people" is from 2016 and the most recent dis-aggregated data is only from 2013 and therefore not shown. I do not think we should simply use the 2013 data here for 2016 (as we do for indicator data when calculating rights scores) as this would show "All people" aggregate a

[2019-09-16 14:14] tmfrnz commented on #17
Further details on 1.

The 2016 education score (pictured above) for "All people" is calculated using the 2016 data for both its indicators, primary & secondary enrolment, however for the disaggregated scores by sex data for primary enrolment from 2016 and data for secondary enrolment from 2013 is likely mixed, resulting in this odd composition where the "All people" aggregate is larger than the i

[2019-09-16 14:18] tmfrnz commented on #17
1. Conclusion: this is likely not a bug in the App, rather it hints at an error in the calculation of the dis-aggregated scores

[2019-09-16 14:38] tmfrnz commented on #17
Should have read all issues before looking into 1 only.

So 2. is the same issue...

and 3. describes the above described data problem.

I agree that disaggregated data by group and its aggregate should only ever be shown from the same year. A few more thoughts:

- The disaggragated scores for a right that are not based on indicator values from the same year should be removed from the data (in lin

[2019-09-16 14:44] tmfrnz commented on #17
Here a quick mock-up with the years added for available group data:
![image](https://user-images.githubusercontent.com/5811956/64967547-06630e00-d8a1-11e9-99e1-fef37436aaa0.png)

We find it would be quite odd and are thus not sure if this is a good idea. For now our suggestion would be to only show group data where available (accomplished by removing the inconsistent scores from the data)

[2019-09-16 14:50] tmfrnz commented on #17
Same reason: most recent child survival rate data by sex is available for 2015 only, data for "All people" is available for 2016

[2019-09-16 14:56] tmfrnz commented on #17
Yes this is consistent with the handling of (missing) "People at risk" data - view is only offered where available. This could of course be handled differently (for both) but we fear that this could often lead to user frustration (being teased about data that does not exist). Please note that this would also require storing this information on the indicator level (so the app knows which indicators

[2019-09-17 09:18] tmfrnz opened #69 "FAQs collapse when scrolling"
The open/close status of FAQs is not reset when the sidebar is fixed to the top when scrolling down, resulting in collapsing any expanded FAQs

[2019-09-17 15:31] tmfrnz commented on #58
We favour to simply include a language toggle at the top right of the welcome panel (next to the X)

[2019-09-18 10:20] tmfrnz opened #70 "Fix ESR comparative assessment"
Related to #68:

Simple fix before considering other options

[2019-09-18 10:20] tmfrnz commented on #68
See #70 for immediate fix

[2019-09-18 10:25] tmfrnz opened #71 "Add country filter options"
Users would like to have additional country filter options, e.g.
- other country groups (e.g.) ASEAN, OIC, Pacific region, some other regional sub-groups

@annemariebrook please consider additional attributes and add to countries.csv file as columns
(https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/blob/master/data/countries.csv)

@timo, you will need to add a subheading un

[2019-09-18 10:27] tmfrnz opened #72 "Consider additional country sort options"
e.g.

- GDP
- Population

[2019-09-18 10:31] tmfrnz commented on #56
Part of #60

[2019-09-18 10:32] tmfrnz commented on #46
Related to #60

[2019-09-18 10:36] tmfrnz opened #73 "Finalise translations"
Also make sure they do not break the layout anywhere

[2019-09-18 10:38] tmfrnz commented on #73
@annemariebrook, @Catherine104

Please also make sure to review the content, and remove any hints I left (eg "PT:")

All content
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-content/tree/master/_posts

Example for hint not removed
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-content/blob/master/_posts/fr/0100-01-01-about.md

[2019-09-18 12:05] tmfrnz commented on #12
To be clarified:
- what options is the user presented in the first dialogue? (string preference for 2 simple options, one accepting and the other one declining non-essential cookies (ie GA)
- do we need an additional settings page? (imo not required for one setting option (GA) especially given the additional effort)

[2019-09-18 23:01] annemariebrook commented on #72
I need to check with the HRMI team which sort options we want to go with. Will report back.

[2019-09-18 23:20] annemariebrook commented on #73
I've fixed a couple of minor issues and removed the hints, so this should be ready to go now. Thanks @tmfrnz

[2019-09-19 00:14] annemariebrook commented on #12
We propose the following:

We use cookies to improve your experience on our site. By continuing to use this website you are giving your consent for us to set cookies, and store your personal data where it is essential for the website to function. To find out more, please read our privacy policy.
I’m ok with that	Decline non-essential cookies

... with the "I'm ok with that option" to be preceded

[2019-09-21 13:47] #65 closed

[2019-09-21 14:04] #70 closed

[2019-09-22 11:28] #69 closed

[2019-09-22 11:40] tmfrnz commented on #68
See here for country snapshots: #60

[2019-09-22 12:11] tmfrnz commented on #67
Added metric information to metric-country overlay, also added country information to country-metric overlay for consistency

https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/aa2f6a5cd79d718aed3811b369dfa77e785ab531

[2019-09-22 12:15] tmfrnz commented on #67
See implementation on new **stage** version of site

- Metric-country overlay: https://hrmi-dataportal-stage.web.app/en/metric/education/AUS?mtab=2
- Country-metric overlay: https://hrmi-dataportal-stage.web.app/en/country/AUS/education?as=hi&mtab=2

For comparison see current site

- Metric-country overlay: https://data.humanrightsmeasurement.org/en/metric/education/AUS?mtab=2
- Country-metric ov

[2019-09-22 13:09] tmfrnz commented on #73
Collecting and fixing a few minor issues here

### Country dropdown
![image](https://user-images.githubusercontent.com/5811956/65387688-f5574880-dd49-11e9-956f-2548309e2301.png)

### Link formatting (FIXED)
![image](https://user-images.githubusercontent.com/5811956/65387693-0b650900-dd4a-11e9-80a0-5eb72e3565f6.png)
Fix: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-content/co

[2019-09-22 22:42] annemariebrook commented on #67
Hello. Thanks for this. Two comments.
1. It seems that the metric information has been added to the country-metric overlay on the current site, as well as on the stage version of the site.  This is fine, EXCEPT that the country-metric information in some cases includes information on the gender-disaggregated data, which we are not (yet) showing on the current site.  I don't think this is a major p

[2019-09-23 00:09] annemariebrook commented on #12
**Thalia’s edit, first preference**
We'd like to store cookies and usage data to improve your experience.
                          [I’m ok with that]             [No thanks]
To find out more, please read our privacy policy.

**Thalia’s edit, second preference**
We'd like to store cookies and usage data to improve your experience.
                          [I’m ok with that]             [No than

[2019-09-23 10:57] tmfrnz commented on #67
@annemariebrook see my replies below

Well spotted! However this information has been there from the start (included in the original spreadsheet Susan had provided in Apr) and not been removed before the launch (when it was decided to not yet include the breakdown).

Yes this is true especially when exploring from a single country, on the metric views changing the metrics (eg drilling in) and gett

[2019-09-23 13:43] tmfrnz commented on #73
- [ ] page close button returns to EN overview

[2019-09-23 13:46] tmfrnz commented on #73
### Translated button labels very long in settings

Resulting in need to adjust the layout
FR
![image](https://user-images.githubusercontent.com/5811956/65431097-379b8b00-de19-11e9-95b1-2aaf4d67bf5b.png)

PT
![image](https://user-images.githubusercontent.com/5811956/65431147-497d2e00-de19-11e9-9c84-d2228a6bcad6.png)

ES
![image](https://user-images.githubusercontent.com/5811956/65431020-19358f80-d

[2019-09-23 13:50] tmfrnz commented on #73
### Current filter labels too long breaking layout
(actually in EN, too)
![image](https://user-images.githubusercontent.com/5811956/65431446-c9a39380-de19-11e9-81d0-367ab3192af8.png)

[2019-09-23 13:55] tmfrnz commented on #73
### Related indicator descriptions should best be turned around
"Estandar de evaluacion: 'Ingresos bajos y medios'"
instead
"'Ingresos bajos y medios' Estandar de evaluacion"

![image](https://user-images.githubusercontent.com/5811956/65431791-51899d80-de1a-11e9-95e8-07ee9ad5396d.png)

[2019-09-23 13:59] tmfrnz opened #74 "Missing abbreviation (HI) in setting panel explanation"
Metric views: indicators (not rights)
![image](https://user-images.githubusercontent.com/5811956/65432142-fefcb100-de1a-11e9-9a2f-da1d1fac2428.png)

[2019-09-23 14:02] tmfrnz commented on #73
### Indicator HI standard hint should not have OECD reference
eg http://localhost:3000/es/metric/net-primary?sort=assessment&scale=d&pb=adjusted
![image](https://user-images.githubusercontent.com/5811956/65432433-70d4fa80-de1b-11e9-8812-6ecafb848e49.png)

[2019-09-23 14:04] tmfrnz commented on #73
### Benchmark translation too long for chart help (FR and PT)

[2019-09-23 14:05] tmfrnz commented on #73
### Benchmark name very long for bar graph annotation (ES only)
![image](https://user-images.githubusercontent.com/5811956/65432703-f789d780-de1b-11e9-999c-4eeb7da9f208.png)

[2019-09-23 14:09] tmfrnz commented on #73
### Metric tab labels very long (ES only)
Not breaking the layout but not pretty

![image](https://user-images.githubusercontent.com/5811956/65432984-767f1000-de1c-11e9-9a07-969401f70e2e.png)

[2019-09-23 14:12] tmfrnz opened #75 "Current filter labels too long breaking layout"
### Current filter labels too long breaking layout
(actually in EN, too)
![image](https://user-images.githubusercontent.com/5811956/65431571-fbb4f580-de19-11e9-8cc7-48b3ba46f5e3.png)

_Originally posted by @tmfrnz in https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/issues/73#issuecomment-534108053_

[2019-09-23 14:14] tmfrnz commented on #12
From my email to @annemariebrook

[2019-09-23 14:15] tmfrnz commented on #12
@annemariebrook could you clarify if you will store the privacy policy on the main site or if we want to (at least for now) store it in our content repository?
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-content

[2019-09-23 14:17] tmfrnz commented on #43
@annemariebrook could you email me your Google Analytics Account ID? (Not sure if we can use the same ID as your main site - I think you may need to set up a new property for the data portal)

[2019-09-23 14:58] tmfrnz commented on #73
### Translations include English "ESR" and "CPR" abbreviations
Eg ES filter options
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/es.json#L406

[2019-09-23 15:51] tmfrnz commented on #73
@Catherine104 I am noticing that the income categories in PT are translated inconsistently

[code]

https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/pt.json#L402

[2019-09-23 17:24] tmfrnz commented on #75
Published new version to stage... moving to review

[2019-09-23 22:56] annemariebrook commented on #67
We are not a fan of the way it is done on the metric views, as it takes a lot of clicks to find information on all the data sources (as well as lots of clicks, one also has to remember each data source, or take notes, to get a complete list).  Rather, we would like the user to be able to see all the information on the source data that feeds into, say, the Right to Health, all in the same place (on

[2019-09-23 23:10] annemariebrook commented on #12
Hi - we'd like to store it on the main site, and have just uploaded it now. Here's the link;
https://humanrightsmeasurement.org/wp-content/uploads/2019/09/HRMI-Website-Privacy-Policy.pdf
Note that we are yet to check with John Emerson that this includes everything necessary for the wordpress site, so we may need to update it. But here it is for now.

[2019-09-24 18:03] tmfrnz commented on #12
@annemariebrook please note that a PDF can work (also in the interim), it's not ideal and it would be better (and more common) to set the policy up as a proper page in your WordPress CMS

[2019-09-24 23:45] annemariebrook commented on #12
Yes, agree. We are currently reviewing our website, and I'll add this to the list of things to consider adding.

[2019-09-26 10:10] tmfrnz commented on #73
@Catherine104 I have just re-assigend you and @annemariebrook to this issue but do let me know if the translations no longer fall in your responsibility

[2019-09-27 12:24] tmfrnz opened #76 "Missing translation: FAQs & "about dimension""
Fields:
-  [x] hrmi.containers.FAQs.answers.measureDimensionESR
-  [x] hrmi.containers.FAQs.answers.measureDimensionCPR

FR: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/fr.json#L51
ES: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/es.json#L51
PT: https://github.com/HumanRightsMeasurementInitiati

[2019-09-27 12:33] tmfrnz opened #77 "Inconsistent translation: FAQs"
Field:
- "hrmi.containers.FAQs.answers.indicators"

Translations (ES, PT and FR) still speak about the "principal assessment standard" but it has been changed to "low and middle income".

Some translations (FR and ES) still refer to the OECD for the "high income" standard.

looks like remnants of the old site.

EN:
"This is because the same data are not always collected for all countries in the wo

[2019-09-27 12:36] tmfrnz opened #78 "Inconsistent translations of country categories"
Inconsistency in the country category translations:

- EN: "Low and middle income" (nice and short)
- PT: "Baija e media renda" (ditto)
- FR: "Pays au revenue faible et intermediare" >>> should be "Revenue faible et intermediare" or better even "Revenue faible et moyen"
- ES: "Países con ingresos bajos y medios" >>> should be "Ingresos bajos y medios"

_Originally posted by @tmfrnz in https://gith

[2019-09-27 12:37] tmfrnz commented on #78
@Catherine104 I would be happy to shorten FR ans ES translations to match EN and PT versions. Please advise

[2019-09-27 12:44] tmfrnz opened #79 "Inconsistent translations: 'HI' label translated in PT ('AR') but not in FR or ES"
Field:
- "hrmi.labels.hiCountry"

HI is the abbreviation for "High Income" and does not make sense in other languages. Suggest to translate as in PT

PT: "AR"
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/pt.json#L197

FR: "HI"
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/fr.json#L197

ES: "HI"
h

[2019-09-27 13:00] tmfrnz opened #80 "Metric tab labels very long"
### Metric tab labels very long (ES only)
Not breaking the layout but not pretty

![image](https://user-images.githubusercontent.com/5811956/65432984-767f1000-de1c-11e9-9a07-969401f70e2e.png)

@Catherine104 also one for you to check - thanks!
@tmfrnz  can they all be like the 'Opinion y expresion'? Seems like they have the same number of words but able to fit in 1 line. I think it's fine if they b

[2019-09-27 13:00] tmfrnz opened #81 "Translations include English "ESR" and "CPR" abbreviations"
### Translations include English "ESR" and "CPR" abbreviations
Eg ES filter options
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/es.json#L406

@Catherine104 @annemariebrook could you check if you want to include these or rather use the long form or come up with a different translation? (maybe we don't even want to use the abbrev in EN given it is

[2019-09-27 13:04] tmfrnz commented on #78
@Catherine104 have just gone ahead and made these changes for consistency
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/30544f9eeee69ca34d99cfa4158ec8640cd14e09

[2019-09-27 13:04] #78 closed

[2019-09-27 13:09] tmfrnz commented on #80
Will try and improve layout

[2019-09-27 13:15] tmfrnz commented on #81
To provide some more information:

This refers to the country filter categories only
![image](https://user-images.githubusercontent.com/5811956/65771702-16001380-e139-11e9-9944-b7062981b33d.png)

My concern is that FR/PT/ES users will no way of understanding what ESR or CPR means (even hard for EN users but can be inferred)

So for all (FR/ES/PT) I would suggest to change "CPR" to "DCP" and "ESR"

[2019-09-27 13:17] tmfrnz commented on #79
Suggest to change it
- ES: "(HI): Países con ingresos altos" to "(IA): Países con ingresos altos"
- FR: "(HI): Pays à revenu élevé" to "(RE): Pays à revenu élevé"

[2019-09-27 23:25] annemariebrook commented on #81
@tmfrnz Thanks for spotting this!  As you suggest, DCP and DES would be much better than CPR and ESR.
Alternatively (just checking), is there space to include the long text? e.g. Todos los derechos civiles y politicos evaluados?    I presume not, so let's go with DCP and DES as you suggest.

[2019-09-27 23:30] annemariebrook commented on #80
Hi @tmfrnz.  I've taken a look at this, but I don't have any good suggestions for fixing this, sorry.  I presume this is only a problem on smaller screens? (it looks fine on my desktop). Thank you for doing what you can to improve layout.  But if it's not perfect, let's not worry about it too much.

[2019-09-27 23:32] annemariebrook commented on #79
Great! Thanks @tmfrnz.

[2019-09-27 23:42] annemariebrook commented on #76
Here we need the translation for this:  "The Quality of Life score is the average of the country's 5 economic and social rights scores: the rights to food, education, health, housing and work." @Catherine104 can you please see if we already have this translation and put it in when you find it? thank you.

[2019-09-27 23:44] annemariebrook commented on #58
I don't consider this a priority to fix, as it is currently not a problem if the person accesses the data portal directly in ES, FR or PT. Also, we will be reviewing the landing page so it doesn't seem worth fixing this now.

[2019-09-28 00:20] annemariebrook commented on #77
Thanks for spotting this @tmfrnz.   I've just made corrections to all three languages.

[2019-09-28 10:33] tmfrnz commented on #58
@annemariebrook this has already been addressed (hence moved to "review")

I should have better documented this here but thought it would be hard to miss on the staging site
![image](https://user-images.githubusercontent.com/5811956/65815167-11e0fe00-e1ec-11e9-9e45-61052e959673.png)

By the way this took about 15 minutes and I think well worth offering

[2019-09-28 10:33] #58 closed

[2019-09-28 10:41] tmfrnz commented on #81
Space is limited so have changed to DCP/DES for now. If it is too confusing we could try the long form though (would probably require 3 lines)

[2019-09-28 10:42] tmfrnz commented on #79
change HI labels accordingly

[2019-09-28 16:54] tmfrnz commented on #76
I decided to temporarily remove the incomplete translations (https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/c46d7cee89f3f273ae44b97854a82e8e1f294579)

However I also noticed that the translations for "About dimension" (at the top of screenshot below) were also never entered (in spite the "TODO: " being removed).

![image](https://user-images.githubusercontent.com/581195

[2019-09-30 14:38] tmfrnz opened #82 "Benchmark translations in How to Read panels inconsistent and/or wrong grammar"
ES
![image](https://user-images.githubusercontent.com/5811956/65888883-92486000-e3a0-11e9-95a6-a677ca4f9419.png)

PT
![image](https://user-images.githubusercontent.com/5811956/65888935-ab511100-e3a0-11e9-95ad-af7ce565ba26.png)

FR
![image](https://user-images.githubusercontent.com/5811956/65888836-7c3a9f80-e3a0-11e9-89f4-b560efe3c565.png)

[2019-09-30 14:43] tmfrnz commented on #82
@Catherine104 have updated the messages as follows (scroll down to the last 4 files):
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/285f009757b2e7c32c6a3cead481f5eeae6bf8c6
(also please ignore the last accidental edit in the PT file - I have since corrected it https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/ec280bd646180d910662d39a1081f001f1f

[2019-09-30 14:54] tmfrnz opened #83 "Missing translations (various)"
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations

#### How to read
- [x] hrmi.containers.HowToRead.trendCPR.largeRange (PT, ES)
- [x] hrmi.containers.HowToRead.trendCPR.smallRange (PT, ES)
- [x] hrmi.containers.HowToRead.simpleBar.countryComparison (PT)

#### Cookie consent (ES, PT, FR) (related to #12, #43)
- [x] hrmi.containers.CookieConsent.nonEss

[2019-09-30 14:57] tmfrnz commented on #83
@Catherine104 a few more missing translations for you to enter
(in addition to #76)

[2019-09-30 16:03] tmfrnz commented on #80
Also too long for modal & mobile screens
![image](https://user-images.githubusercontent.com/5811956/65895964-924e5d00-e3ac-11e9-8739-cb768558f947.png)

[2019-10-01 19:37] Catherine104 commented on #12
@tmfrnz  we already have the cookie message for French, Portuguese and Spanish. Can you please update them? Please let me know if you'd like me to do that instead.
French:
Nous souhaitons conserver les cookies et les données d'utilisation afin d'améliorer votre expérience.
                          [Je suis d'accord]             [Non merci]
Pour toutes les fonctions du site, il est nécessaire de

[2019-10-02 13:29] tmfrnz commented on #83
From @Catherine104's comment on #12

[2019-10-02 13:38] tmfrnz commented on #12
@Catherine104 have just updated the messages accordingly, see: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/17c929db80e62eab353ea93faec5603ccebdc036

[2019-10-02 13:49] tmfrnz commented on #12
@Catherine104 please note that I added hints to the privacy policy link:
- FR: (en anglais)
- ES: (en inglés)
- PT: (em inglês)

[2019-10-02 14:06] #79 closed

[2019-10-02 14:07] #77 closed

[2019-10-02 14:08] tmfrnz commented on #32
Closing for now as not reproducable

[2019-10-02 14:13] tmfrnz opened #84 "Add indicator source information on Rights level"
From @annemariebrook (#67)

[2019-10-02 14:14] tmfrnz commented on #67
Copied to new issue #84

[2019-10-02 14:14] #67 closed

[2019-10-02 14:14] #74 closed

[2019-10-02 14:16] #43 closed

[2019-10-02 14:17] #12 closed

[2019-10-02 14:18] #73 closed

[2019-10-07 07:23] annemariebrook opened #85 "Improve labelling of % figures for people at risk"
There is a general problem of people misinterpreting the percentage figures. Pretty much everyone thought the % figures shown were the % of that population who were at risk, and people did not click on the little explanatory i button. When we asked them to click on it, then they became clear.

Suggestions to fix:
1. Can we have the tool tip text be shown permanently (not only on hover?)
2. Should

[2019-10-08 04:51] annemariebrook opened #86 "Replace GDP series on country profiles and add tool tip"
The country details provided on the country pages currently reference the 2017 current PPP $.

After much discussion we would like to replace this with the current USD measure. We would ALSO like to add a tool tip to this, so that when the user hovers over the $ value,  they would see a message that would say something like "This is the latest value in USD. However, when comparing countries elsewh

[2019-10-08 04:57] annemariebrook commented on #20
For now, as a first step, our proposal is to add a new filter option to the Rights pages that would allow you to filter by country. e.g. if I am on the Right to Education view, I could choose to compare NZ with Australia, Finland, Denmark, Sth Korea, and Chile by selecting those countries from a list.

[2019-10-08 05:02] annemariebrook commented on #19
Could we try experimenting with a feature that:
- sits in a third tab next to Countries and Rights
- provides a list of the 'people at risk' groups (similar to the list of Rights under the Rights tab)
- produces bar charts similar to on the Rights pages, with % figures simply being the % of respondents in each country who selected that group.
- contains lots of disclaimers/text to address the chal

[2019-10-08 08:43] tmfrnz opened #87 "Set up test site for header links open main site in new tab"

[2019-10-14 07:29] tmfrnz opened #88 "Integrate new Pacific-specific survey questions"

[2019-10-14 07:42] tmfrnz commented on #85
Will prepare a test page with value & information shown on hover for each group

[2019-10-14 08:08] tmfrnz opened #89 "Include alternative indicator data sources"
From @annemariebrook #84

[2019-10-14 08:09] tmfrnz commented on #84
See #89 for alternative data sources

[2019-10-14 08:58] tmfrnz opened #90 "Remove country income category from dropdown & search"

[2019-10-14 16:28] tmfrnz commented on #63
Will for now make a couple of simple improvements, then look at further changes as part of #62
- white search field
- dropdown arrows for country and metric select dropdowns
![image](https://user-images.githubusercontent.com/5811956/66767261-47563e80-eeb0-11e9-92b5-52b6bb526b1d.png)

[2019-10-14 16:32] tmfrnz commented on #17
Will check with Susan about short term and long term options for this.

In the short term we may likely want to limit this to indicator data (and not rights data) so we do not run into issues with conflicting years

[2019-10-14 16:46] tmfrnz commented on #84
Affects both metric pages and country-metric overlays.

In addition to exposing the indicator source information on the rights level, we will also consider adding links to related metrics on the country-metric overlay

[2019-10-14 17:20] tmfrnz commented on #71
### Country group filter

It will be straight-forward to add additional "country-group" filters and I would suggest to store the groups in the [/hrmi-dataportal-data/blob/master/data/countries.csv](https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/blob/master/data/countries.csv) file as a comma-separated list in a new column "groups". This would allow us to easily add new gr

[2019-10-14 17:25] tmfrnz commented on #63
In the meantime will also however already set up a test site with a light header version

[2019-10-14 20:48] annemariebrook commented on #84
Great, thanks @tmfrnz. Just to clarify, the original complaints about the difficulty of finding the source information were related to the country-metric overlay, not to the rights pages, so the country-metric overlay should be the primary focus of this issue, not an add-on.  Sorry if this wasn't clear in the original description of the problem.

[2019-10-15 00:26] annemariebrook commented on #71
Hi Timo,
Sorry – I only just read this email, so I realise that what I suggested for the Pacific region isn’t what you are proposing here. Can you please clarify what you suggest we do to store the Pacific sub-region info in the csv file.
Thanks,
A-M

From: Timo Franz [mailto:notifications@github.com]
Sent: Tuesday, 15 October 2019 6:21 AM
To: HumanRightsMeasurementInitiative/hrmi-dataportal <hrmi

[2019-10-16 09:00] tmfrnz commented on #71
#### Suggested columns (and values/codes)

Here an example spreadsheet with suggested columns and values
https://docs.google.com/spreadsheets/d/17e6BCrRR-yWEgAqOMhVqAZe0Y3F2IS6gdsi0F0ubTxM/edit?usp=sharing

| column | type | values/codes | comment |
|---|---|---|---|
| `country_code` | string | _3 letter country code_ ||
| `high_income_country` | bool/number | `0`, `1` ||
| `OECD_country` | bool/n

[2019-10-31 07:06] annemariebrook commented on #85
Timo - we really like what you've done here and we are confident it will fix the misinterpretation problem we currently have. A few comments and questions:
1. When user clicks on a group to "fix" the tooltip, we would like that text to appear just below the explanatory text at the top, rather than replace it.
2. Thalia will review both the explanatory text and tool-tip text before we finalise them

[2019-11-01 09:49] tmfrnz commented on #32
Via email

and

[2019-11-01 09:52] tmfrnz commented on #32
It appears that the portal takes a very very long time to load on Edge, as well as emulations of earlier IE versions.

The portal is currently only configured to support IE11 and later but can maybe try to include IE10

[2019-11-03 12:52] tmfrnz commented on #32
A few notes
- Loading from a different source (ie Firebase instead of GitHub Pages) did not make a difference
- Loading without processing (storing an empty array after load) did make a difference
- The issue thus appears to be related to the processing of larger CSV files in Microsoft Edge.

[2019-11-03 12:55] tmfrnz commented on #32
Here is a comparison of CPU usage over time for MS Edge and Chrome browsers. It is also interesting to look at the other data:
- Ethernet usage is spread out in Edge
- Edge also appears to use lots of GPU for some reason whereas Chrome does not at all

![image](https://user-images.githubusercontent.com/5811956/68085420-3cecec00-fe41-11e9-9a16-35ce0efe8d30.png)

![image](https://user-images.githubu

[2019-11-03 12:58] tmfrnz commented on #32
Here the CPU profile for Edge with data processing disabled
![image](https://user-images.githubusercontent.com/5811956/68085501-f1870d80-fe41-11e9-86d6-2fb37595b2c8.png)

[2019-11-03 13:20] tmfrnz commented on #32
Testing on browserstack.com (time to load, process and render data)
- Edge 18: ~ 43s
- FF 69: ~ 4s
- Chrome 77: ~ 7s

[2019-11-03 13:22] tmfrnz opened #91 "Failure on IE 11"
App fails to load on IE 11, splitting issue from #32 (very slow on MS Edge)

[2019-11-03 15:58] tmfrnz commented on #91
- [x] Downgrade d3-scale (https://github.com/d3/d3-scale/issues/167)
- [x] Replace depracated babel/polyfill with core-js and runtime-generator for a UrlSearchParams polyfill

[2019-11-03 16:01] tmfrnz commented on #91
IE 11 fixed (albeit slowly see #32)

IE 10 still not supported due to incompatibility in grommet-icons (Object.setProtoTypeOf in
 https://github.com/grommet/grommet-icons/blob/master/src/js/StyledIcon.js#L56)

[2019-11-03 16:05] tmfrnz opened #92 "Rendering issues in IE11"
![image](https://user-images.githubusercontent.com/5811956/68088128-3324b200-fe5c-11e9-81d3-83e44d685134.png)

[2019-11-03 16:25] tmfrnz commented on #32
Here a timeline of events loading the overview page on MS Edge, showing that most time is lost between successful load and data availability in the local store:

![image](https://user-images.githubusercontent.com/5811956/68088357-c4952380-fe5e-11e9-9866-8a9af01c3aae.png)

[2019-11-03 16:27] tmfrnz commented on #32
For comparison, on Chrome this is almost instant

![image](https://user-images.githubusercontent.com/5811956/68088402-31102280-fe5f-11e9-811b-1de8584701ee.png)

[2019-11-03 17:06] tmfrnz commented on #32
Likely culprit is the helper function "indicatorScoresByCountry"
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/containers/App/selectors.js#L1170

It is currently only used for sorting countries on the overview page by number of available indicators so could refactor this function or ignore indicator count for now

[2019-11-04 12:14] tmfrnz commented on #32
While aforementioned function ("indicatorScoresByCountry") is also much slower in Edge and IE11, it turns out that the built-in array sort function in Edge and IE11 was the main performance issue.

Having only lazily used it for figuring out the data date ranges, I have replaced it with a more basic but more efficient function.

[2019-11-04 19:31] annemariebrook commented on #32
Great. Thanks for figuring this out.

From: Timo Franz [mailto:notifications@github.com]
Sent: Tuesday, 5 November 2019 1:15 AM
To: HumanRightsMeasurementInitiative/hrmi-dataportal <hrmi-dataportal@noreply.github.com>
Cc: Anne-Marie Brook <Anne-Marie.Brook@motu.org.nz>; Mention <mention@noreply.github.com>
Subject: Re: [HumanRightsMeasurementInitiative/hrmi-dataportal] Very slow on MS Edge browser

[2019-11-18 01:14] annemariebrook commented on #85
Hi Timo,
We would like to change the explanatory text as follows. Please replace:
“Text size based on percentage of human rights experts identifying each group as being at risk of having this right violated.”

with

“INTERPRETATION:
Larger text = more human rights experts identified this group as being at risk”

The tool tip text is fine as is. But this text should be added below the explanatory t

[2019-11-18 16:41] tmfrnz commented on #85
Great! I will still have to add the new text bits to the translations file (incl the English version where you will be able to edit it)

[2019-11-20 01:14] annemariebrook commented on #83
Hi Timo, CC and I have just been looking at this issue, and we think it is all complete. Can we move it to done?

[2019-12-02 14:29] tmfrnz opened #94 "Overview fails to show all countries"
From Thalia (via email)

[2019-12-02 15:06] tmfrnz commented on #94
The issue is that the [InfiniteScroll container](https://v2.grommet.io/infinitescroll) stops appending new countries after country 150 (of 217 total) with the previous step size of 30 and when viewing on large screens (4 countries per row), indicating that it may have to do with the 5th chunk of countries (121 - 150) not fully occupying the last row (only showing 2) and thus failing to assume addi

[2019-12-05 16:50] tmfrnz commented on #83
@annemariebrook I do not think that all of the fields (specified above) have been translated, ie
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/pt.json#L76

It would be great, if you could check any completed fields so we can keep track of what has been done (another good practice is to reference the issue in the change message when committing any

[2019-12-15 15:28] tmfrnz commented on #80
Here is another example from the overview page where the metrics tab label gets too long
(ES and PT)
![image](https://user-images.githubusercontent.com/5811956/70864926-dbe42800-1f57-11ea-9162-f0569ffe8725.png)

@sarahbichan may be something for you to look at?

[2019-12-15 15:32] tmfrnz commented on #83
@sarahbichan may this is also something for you too look at. See the initial description for the missing fields

[2019-12-16 11:53] tmfrnz opened #96 "Update data portal domain: rightstracker.org"
Planned for week starting Jan 6, Thalia to be advised a couple of days before

[2019-12-17 00:39] sarahbichan commented on #80
I've added this to my task tracker.

Thanks.

Sarah

On Mon, Dec 16, 2019 at 4:28 AM Timo Franz <notifications@github.com> wrote:

--
Sarah Bichan

Throw your dreams into space like a kite, and you do not know what it will
bring back: a new life, a new friend, a new love, a new country - Anais Nin

[2019-12-17 00:42] sarahbichan commented on #83
Ok. Thanks.

On Mon, Dec 16, 2019 at 4:32 AM Timo Franz <notifications@github.com> wrote:

--
Sarah Bichan

Throw your dreams into space like a kite, and you do not know what it will
bring back: a new life, a new friend, a new love, a new country - Anais Nin

[2019-12-19 01:50] annemariebrook commented on #71
I think this issue is now ready for development?

[2020-01-07 12:33] #85 closed

[2020-01-07 12:35] #94 closed

[2020-01-07 12:35] #32 closed

[2020-01-07 12:36] #91 closed

[2020-01-07 12:36] #87 closed

[2020-01-13 10:14] tmfrnz opened #101 "Narrative: need exception for countries that are treated as singular but plural for possessive form"
Related to the odd grammar of the USA.

It is usually treated as a singular ("The United States scores") but its possessive respects the plural "s" ("The United States' Empowerment score is").
Eg see https://grammarist.com/usage/united-states/

However the app currently decides the possessive based on the "is_plural" grammar attribute (false for USA) resulting in the incorrect "The United States's

[2020-01-13 10:45] tmfrnz commented on #101
To determine the need for the possessive 's' I think we should actually better check if the country name is ending with an 's' already and not if it is a plural
See eg https://grammar.yourdictionary.com/punctuation/apostrophe-rules.html

[2020-01-14 11:42] tmfrnz commented on #56
Closing this for now as covered by #60

[2020-01-14 11:42] #56 closed

[2020-01-16 01:02] sarahbichan commented on #83
Field 76 in PT and field 75 in ES now translated and updated.

[2020-01-16 12:05] tmfrnz commented on #83
Great - have just updated the site accordingly.

A few notes
- there are still several fields not translated (see above, https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/issues/83#issue-500331690)
- line numbers may change, so it is preferable to refer to the fields to their id instead (eg `hrmi.containers.HowToRead.simpleBar.drilldownHint`)

[2020-01-16 14:58] tmfrnz commented on #84
Deployed to dev site for review, eg
- category https://hrmi-dataportal-dev.web.app/en/country/AUS/esr?as=hi&mtab=about
- right https://hrmi-dataportal-dev.web.app/en/country/AUS/education?as=hi&mtab=about

Compare to indicator (small change only)
- https://hrmi-dataportal-dev.web.app/en/country/AUS/pisa-reading?as=hi&mtab=about

[2020-01-16 15:03] tmfrnz commented on #71
Deployed to dev site for review, eg

- overview: https://hrmi-dataportal-dev.web.app/en
- single metric: https://hrmi-dataportal-dev.web.app/en/metric/esr

Filter options are now limited to available countries or scores

[2020-01-16 15:08] tmfrnz commented on #72
Deployed to development and staging sites for review

[2020-01-16 15:11] tmfrnz commented on #86
Deployed to development and staging sites for review

[2020-01-17 00:54] sarahbichan commented on #101
I agree with your summation, Timo. This makes sense to me and also looks tidier.
1. country names not ending with 's' would require the possessive 's' (eg New Zealand's score or Trinidad and Tobago's score)
2. country names ending with 's' would not have the additional possessive 's' (eg Belarus' score, or Channel Islands' score or United States' score)

Thanks.

[2020-01-17 00:59] sarahbichan commented on #83
Of course, it makes a lot more sense to use field names! Sorry.

I was too quick to say that the issue had been resolved. Remedying this
now. I'll check the boxes once it's done.

On Fri, Jan 17, 2020 at 1:05 AM Timo Franz <notifications@github.com> wrote:

--
Sarah Bichan

Throw your dreams into space like a kite, and you do not know what it will
bring back: a new life, a new friend, a new love,

[2020-01-17 11:05] tmfrnz commented on #83
Looking good!

[2020-01-17 11:05] #83 closed

[2020-01-17 11:23] tmfrnz opened #104 "Finalise trend charts"
Still missing
- [x] lines indicating performance benchmarks
- [ ] add benchmark key
- [ ] "How to read" dialogues

[2020-01-17 11:30] #76 closed

[2020-02-01 02:46] tmfrnz commented on #71
- [ ] Allow filtering (exclusive/"and") by multiple values for fields that allow multiple values (ie groupings, treaties)

[2020-02-01 02:48] tmfrnz commented on #72
- [ ] list countries without data (for current sort attribute) in separate section below main section (sorted countries that have data)

@annemariebrook I suggest sorting these simply by name

[2020-02-01 02:50] tmfrnz commented on #86
- [ ] resolution: show both GDP values (current & PPP)

[2020-02-01 02:53] tmfrnz commented on #84
- [ ] mark indicators where data is missing (replace source info with "missing data" hint
- [ ] consider highlighting current and/or default assessment standard or only show current assessment standard
- [ ] try grouping indicators by rights (on category level)

[2020-02-01 03:58] annemariebrook commented on #72
perfect!

[2020-02-02 00:59] tmfrnz commented on #71
updated and deployed to dev site for review

[2020-02-02 02:03] tmfrnz commented on #86
Deployed to staging and dev sites for review

[2020-02-02 22:35] tmfrnz commented on #72
Deployed to dev site.

Note: sorting currently only takes data into account from the same most recent year (2016) for all countries and will not fall back to a country's previous data point.

[2020-02-10 04:55] tmfrnz opened #105 "Consider options for fixing grammar for country names with additional info like "Congo, DR""
The narrative's grammar fails for countries where additional information is provided (behind the comma or in brackets). Example:

Affected countries are:
* "hrmi.countries.COD": "Congo, Dem. Rep."
* "hrmi.countries.COG": "Congo, Rep."
* "hrmi.countries.MAF": "St. Martin (French part)"
* "hrmi.countries.SXM": "Sint Maarten (Dutch part)"

[2020-02-10 04:56] tmfrnz commented on #105
Other countries may be affected in other languages

[2020-02-10 05:03] tmfrnz commented on #105
One option could be to

* remove the bits that contain are behind comma or in brackets (eg ", Dem. Rep.")
* construct the pluralisation based on the core name (eg "Congo")
* insert content behind comma or in brackets after the pluralisation

So instead of

... it would say

And instead of

... it would say

[2020-02-10 05:07] tmfrnz commented on #105
To simplify this process we could also consider changing country names in the language files to consistently use brackets instead of commas anywhere, eg change the

to

[2020-02-10 05:07] tmfrnz commented on #105
@annemariebrook, @Catherine104, @sarahbichan what do you think?

[2020-02-10 05:14] tmfrnz opened #106 "Add indicator note "PISA""
Should have explanation that the 3 PISA indicators are first averaged before used in the Education store, ie

[2020-02-10 05:16] tmfrnz commented on #29
closing as all open points are covered elsewhere

[2020-02-10 05:16] #29 closed

[2020-02-10 05:26] tmfrnz commented on #71
I believe this is complete and will be deployed as part of the v3 launch

[2020-02-10 05:27] tmfrnz commented on #86
I believe this is complete and will be deployed with v3 launch

[2020-02-10 05:30] tmfrnz commented on #72
- [ ] take into account country's previous years (consistent with data used for scores)

[2020-02-10 05:32] tmfrnz opened #107 "Apply layout/design for new country details page"

[2020-02-10 05:33] tmfrnz commented on #16
Adjust to new country page design #107

[2020-02-10 05:33] tmfrnz commented on #13
Adjust to new country page design #107

[2020-02-10 05:33] tmfrnz commented on #17
Adjust to new country page design #107

[2020-02-10 05:35] tmfrnz commented on #59
Can start with rough layout, waiting for detaila

[2020-02-10 05:39] tmfrnz commented on #80
@sarahbichan i do not think we will need to worry about this any more as the layout is about to change

[2020-02-10 05:39] #80 closed

[2020-02-10 05:40] tmfrnz commented on #107
Will start on rough layout, then wait for design details

[2020-02-10 05:40] tmfrnz commented on #62
Awaiting final design

[2020-02-10 05:40] tmfrnz commented on #60
Awaiting final design

[2020-02-10 05:51] tmfrnz commented on #88
### New questions

Climate Crisis: How much has the climate crisis worsened human rights conditions for people in Fiji?

Indigenous Sovereignty: To what extent are indigenous and/or native communities in Fiji able to exercise self-determination? That is, to what extent are native and/or indigenous communities able to govern themselves and decide for themselves how they will live without outside in

[2020-02-10 06:02] tmfrnz commented on #89
Have proposed the following schema changes (awaiting confirmation):

it would probably be best to introduce a separate "sources.csv" lookup file (see DRAFT attached) where each row represents one source and where an "original_source" column could also allow referencing the primary sources. As a consequence we would drop the "retrieved" and "url" columns from the esr-indicators file and only specif

[2020-02-10 06:06] tmfrnz commented on #19
No single group pages for now

[2020-02-10 06:07] tmfrnz commented on #20
Need to consider UI options

[2020-02-10 06:09] tmfrnz commented on #66
@annemariebrook could you confirm that this is still a requirement? Thanks

[2020-02-10 06:09] tmfrnz commented on #66
@annemariebrook could you confirm that this is still a requirement? thanks

[2020-02-10 06:10] tmfrnz commented on #15
part of new country details page #107

[2020-02-10 06:11] tmfrnz commented on #64
This may become irrelevant when new design is applied

[2020-02-10 06:12] tmfrnz commented on #46
This may become irrelevant with new design #107, #60

[2020-02-10 06:31] tmfrnz commented on #88
Awaiting development of concept

[2020-02-10 08:50] annemariebrook commented on #71
yes, agreed. Thanks @tmfrnz

[2020-02-10 08:50] annemariebrook commented on #86
Yes, agreed. Nice work - thanks @tmfrnz

[2020-02-10 23:17] tmfrnz opened #108 "Review source translations"
I noticed that some of the "source" translations are inconsistent or incomplete (showing the EN original)

Eg for the "hrmi.sources.wb_wdi" label we have the following:
* EN: World Bank World Development Indicators
* ES: World Bank World Development Indicators
* FR: Banque Mondiale Indice de Développement Mondial
* PT: Banco Mundial World Development Indicators

(hint: sources currently start at l

[2020-02-10 23:21] tmfrnz commented on #108
There will be more sources added here (#89) so maybe these translations can be addressed jointly

[2020-02-11 00:39] tmfrnz opened #109 "Set up new site structure and navigation"
#### New structure:

Generated views
* Landing page **NEW**
* Single metric, specifically:
  * Category
  * Right
  * Indicator
* Single country, tabs:
  * Snapshot **NEW**
  * ESR **NEW**
  * CPR (possibly split later) **NEW**
  * At risk
  * About (sidebar on large screens)
* All rights overview **NEW**
* All countries overview (drop metrics) **SIMPLIFIED**
* ~~Metric-Country modals~~ **DROP**

[2020-02-11 00:40] tmfrnz opened #110 "Allow marking countries as "featured""
The new landing page will show a curated selection of "featured" countries. Requirements

- [x] define multiple "featured" categories, eg "In the news" or "Review coming up"
- [x] allow assigning countries to these featured categories
- [x] support filtering by all or individual "featured" categories

[2020-02-11 01:12] tmfrnz opened #111 "Create Download page"
Replacing the current download drop-down.

Should also include a form to optionally collect user information

I would suggest also using an editorial "content" page here (stored in https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-content).

For the data collection form I would suggest embedding a third-party form provider (or use a form built in Wordpress), as the data-portal do

[2020-02-11 01:37] sarahbichan commented on #105
I think the brackets look cleaner than the commas. They would be my preferred punctuation.

[2020-02-11 02:00] tmfrnz opened #112 "Create Groups at Risk overview page"
A page to provide information on the groups at risk data collected and where to find it

Via email by @annemariebrook

[2020-02-11 02:02] tmfrnz commented on #105
Agreed - also this would make it more consistent and thus easier to implement

[2020-02-11 02:12] tmfrnz commented on #71
Translations provided by @sarahbichan
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/8db0a12ad759901b4f9c20bb9aaa1ab2415816f6

[2020-02-11 03:43] tmfrnz commented on #89
Having learned that the alternative sources can also be different from year to year, I suggest the following:

**File: sources_v3**
After some consideration I think we should indeed go with a sources look-up file that contains a list of ALL sources, including original sources and those used for retrieval, as well as standard and exceptional (national) sources. 

Instead of capturing the relationsh

[2020-02-12 01:01] sarahbichan commented on #86
Translations completed.

[2020-02-12 03:38] tmfrnz commented on #72
@annemariebrook, @sarahbichan

Please review (and translate) new sorting labels, specifically sorting options
* hrmi.components.CountrySort.sortOptions.gdp (L146)
* hrmi.components.CountrySort.sortOptions.population (L147)

... as well as the "no sorting information hint"
* hrmi.hints.noSortData (L210)

[2020-02-13 00:40] sarahbichan commented on #72
The first two fields have already been translated. I've just added translations for the hrmi.hints field.

[2020-02-13 10:18] tmfrnz commented on #109
- [ ] bug on country overview: filter removal will navigate to root

[2020-02-14 01:35] tmfrnz commented on #101
related to #105

[2020-02-14 01:36] tmfrnz commented on #101
@annemariebrook could you confirm the suggested "simple" grammar rule (AP style)? thanks

[2020-02-14 01:37] tmfrnz commented on #105
@annemariebrook could you confirm the suggested naming ("brackets") - thanks!

[2020-02-14 01:53] annemariebrook commented on #105
The brackets solution is fine with me. Thank you @tmfrnz

[2020-02-14 01:55] annemariebrook commented on #101
Yes agreed - this makes a lot of sense! thanks @tmfrnz and @sarahbichan

[2020-02-15 04:11] annemariebrook commented on #66
Hi @tmfrnz. I will consult with the team on this and get back to you - probably in a couple of weeks.

[2020-02-15 04:13] annemariebrook commented on #89
FYI: I’m leaving the decision on sources to you and Susan. Whatever the two of you agree on is good with me!

From: Timo Franz [mailto:notifications@github.com]
Sent: Monday, 10 February 2020 7:02 PM
To: HumanRightsMeasurementInitiative/hrmi-dataportal <hrmi-dataportal@noreply.github.com>
Cc: Anne-Marie Brook <Anne-Marie.Brook@motu.org.nz>; Mention <mention@noreply.github.com>
Subject: Re: [HumanR

[2020-02-15 04:20] annemariebrook commented on #68
@tmfrnz I'm a bit unclear on where this issue is at. Do you need further input from us?
I am very keen for this issue to be fixed in time for the V3 launch. Thanks!

[2020-02-15 04:39] annemariebrook commented on #61
@tmfrnz I'm not sure where we are at with this one. Let's discuss.

[2020-02-15 04:48] annemariebrook commented on #112
@tmfrnz I'm hoping to discuss this with Chad in the coming week, so hopefully will be able to provide more clarification after that.

[2020-02-17 03:33] tmfrnz opened #113 "Consider single group overview pages"
One page generated for each people at risk group that would provide links to country specific data

Alternative (or enhancement) to #112

[2020-02-17 03:34] tmfrnz commented on #113
Preliminary layout idea

![HRMI_Single-Group](https://user-images.githubusercontent.com/5811956/74621832-54a77080-51a3-11ea-83f4-16c066c0e4e4.png)

[2020-02-17 03:37] tmfrnz commented on #112
@annemariebrook please feel free to start drafting some content for this page in our content repository https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-content/blob/master/_posts/0100-01-01-at-risk-overview.md (right in GitHub or better using prose.io)

[2020-02-17 03:41] tmfrnz opened #114 "Update country snapshot (online)"
Online version for suggested A4 print version (#60)

[2020-02-17 03:42] tmfrnz commented on #60
See #114 for online version

[2020-02-17 03:51] tmfrnz commented on #61
@annemariebrook agreed

[2020-02-17 04:00] tmfrnz commented on #68
@annemariebrook at this stage I believe we are all clear to proceed with the suggested option 1 (compare with other countries that we have data for).

The one question I have would be how to handle countries where we only have data for one right? Should we fall back to a text more similar to option 2?

I will let you know should I have any questions or encounter any roadblocks.

[2020-02-17 04:04] annemariebrook commented on #112
Awesome, thanks @tmfrnz.  I've delegated this to Thalia and asked her to do it by next week.

[2020-02-17 04:14] annemariebrook commented on #68
@tmfrnz, yes i think that would be consistent. e.g. If two ESR scores are available it might say:

"On Quality of Life rights, when we look across the rights for which we have data, The Marshall Islands is performing close to average, compared with the other countries in the Pacific."

But if only 1 ESR score is available, then it would reference that right by name. e.g.
"On Quality of Life rights

[2020-02-17 04:15] tmfrnz commented on #86
- [ ] translations missing year information
- [ ] left align country overview

[2020-02-17 04:23] tmfrnz commented on #68
@annemariebrook this sounds good and is ready to implement. Thanks

[2020-02-17 05:07] tmfrnz commented on #72
- [ ] left align country overview

[2020-02-19 01:43] tmfrnz commented on #72
- [ ] IE8: tooltip text does not wrap

[2020-02-19 01:45] tmfrnz opened #115 "IE11: Tooltip text does not properly wrap"

[2020-02-19 02:44] #115 closed

[2020-02-19 03:32] tmfrnz opened #116 "Improve ServiceWorker configuration (cache refresh)"
SW sometimes has resulted in blank screen and does often not update.

Also the domain forward (data.humanrightsmeasurement.org >> rightstracker.org) is ineffective as long as the old SW keeps running

[2020-02-19 03:32] tmfrnz commented on #116
Will test solution suggested here
https://github.com/react-boilerplate/react-boilerplate/issues/2750#issuecomment-536215256

[2020-02-19 04:47] tmfrnz opened #117 "Allow dependent countries"
This is to allow expressing country dependencies, eg
- The Marshall Islands: Sovereign state in free association with the United States
- Wallis & Futuna: Semi-autonomous collectivity of France
- The Cook Islands: Associated state of New Zealand
- Tokelau: Dependent territory of New Zealand

[2020-02-19 05:04] tmfrnz commented on #117
@annemariebrook I have set up the new country file ([v3](https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/blob/master/data/countries_v3.csv)) with 2 new columns as discussed:
* `country_status`: one of the country statuses (yet to be determined, leave blank for sovereign state)
* `related_country_code` the related sovereign country

Alternatively, for a more simple solution

[2020-02-19 05:06] tmfrnz commented on #117
@annemariebrook if you do want to go with the original option (full status and sovereign), it would be great if you could provide me with a list of statuses - thanks!

[2020-02-19 07:21] tmfrnz commented on #68
@annemariebrook a few quick questions to further clarify the future comparative assessment:
- is it correct that we will only consider a country's default assessment standard ?
- should we consider the "income-adjusted" or "global best" benchmark (or maybe even both (as we do in the regular narrative))?

I do not think that the new v3 layout offers any buttons to change those settings for the narr

[2020-02-19 20:34] annemariebrook commented on #117
Hi @tmfrnz. For now we would like to list "Status" as a field ONLY for non-independent countries. e.g. the territories that we are adding in the Pacific.  We are just double-checking that we have the list of statuses correct for those territories and will pass it on when the checking is complete, and send it to translation at the same time. For now we do not want to show the status field for regul

[2020-02-19 20:36] annemariebrook commented on #117
I could send you the draft list of statuses sooner, if that would be helpful for setting it up. Hopefully there won't be any changes, but we wanted to double check we have it right, with people in each country/territory.

[2020-02-19 20:54] annemariebrook commented on #68
@tmfrnz that's a good question. We will discuss.
I'm a bit confused by your final comment, ("I do not think that the new v3 layout offers any buttons to change those settings for the narrative"): I wasn't aware of any decision to drop the settings to change benchmarks?

[2020-02-19 20:58] tmfrnz commented on #116
deployed new configuration to v3 test site for testing and review

[2020-02-19 21:07] tmfrnz commented on #117
@annemariebrook sounds good (listing status only for non-independent countries)

And yes, please feel free to send the draft list of statuses sooner (or include here), if you can, just so I can check if and how well it aligns with my current understanding.

While at it, it might be good to review any other non-independent countries that we already have in the database, eg Hong Kong, Macau, Virgin

[2020-02-19 21:20] tmfrnz commented on #68
@annemariebrook: my final comment only applies to the narrative, not the charts.

My understanding is that in the new layout we are dropping the main settings panel (floating at the bottom) both on the snapshot as well as the country details view (ESR tab).

On the **snapshot**, my understanding is that the user does not get to change any settings, but we could include a benchmark toggle here if y

[2020-02-19 21:54] tmfrnz commented on #114
@annemariebrook could you clarify what user interactions you expect here?

The new layout currently assumes:
- Users will NOT be able to change the **assessment standard** (will use country's default)
- Users will NOT be able to change the **benchmark** (will use income-adjusted???)

Last, we had discussed this option to include the narrative here, and it would be good if you could confirm this:

[2020-02-21 00:00] tmfrnz commented on #105
this has been addressed in https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/c2193440d1bd7609d1b4fcc4aebe2c74732b63eb together with #101. moving to review...

[2020-02-21 02:54] annemariebrook commented on #68
Hi Timo,
Sorry for the delay, I’ve been away so things have slipped.
To clarify:

-          I don’t have any recollection of discussing dropping the main settings panel from the snapshot page. I think if we did this, users might get frustrated at not being able to change the ESR data view.  I suspect the mis-communication around this may have stemmed from the discussion about the print version of

[2020-02-21 03:00] annemariebrook commented on #114
As mentioned by email, I think that we should retain the ESR settings panel on the country snapshot page.

In terms of the narrative integration, I don't have a strong view on which of the two options would be best. It's probably something we need to test with users.  e.g. we could proceed along the lines shown in the images above but if user testing indicates that people don't like the narrative

[2020-02-21 03:27] tmfrnz commented on #68
@annemariebrook thank you for clarifying - I have indeed a different recollection of this. Please note that the settings were already dropped in the layouts used for the last user tests.

Anyway, given that we will only have one chart (or group of charts) on the summary page, I would suggest to embed any chart settings right under the chart so we are consistent with the details tab. Will also disc

[2020-02-21 03:34] annemariebrook commented on #68
@tmfrnz, I think the snapshot should offer both toggling the benchmark and the assessment standard. thank you.

I'm not sure about embedding the chart settings right under the chart. It might be OK but i'm worried about it being so close that people can't snip the chart alone.

[2020-02-21 03:39] tmfrnz commented on #68
@annemariebrook, if keeping the floating settings panel on the snapshot, then we should definitely consider also keeping it on the details tab (and only add any chart-specific settings to the individual charts where required, ie groups, raw data). This would keep the settings consistent across views, simplify the chart settings (removing duplication) and also allow us to apply the settings to the

[2020-02-21 03:40] tmfrnz commented on #114
- [ ] re-introduce settings panel as per discussion on #68

[2020-02-21 03:42] tmfrnz commented on #68
@annemariebrook, as a consequence this means that the comparative assessment will also have to adjust the selected settings

[2020-02-21 03:43] tmfrnz commented on #107
- [ ] consider re-introducing settings panel as per discussion on #68

[2020-02-21 03:59] annemariebrook commented on #68
Just to check that I have correctly understood: this issue is not new to Rights Tracker v3.0.  It is also relevant on our existing Rights Tracker, right?  The issue is that we are not currently clear on the basis of what settings the comparative assessment has been made. Is that correct?

@tmfrnz - I've got this on my list to discuss with Susan.

[2020-02-21 05:31] tmfrnz commented on #68
@annemariebrook in the current rights tracker (v2), the comparative assessment takes the settings correctly into account, but only considers the category scores.

This improvement (where the comp assessment will also look at rights scores) will only be part of the new v3, so this discussion is only relevant for v3.

I am happy for this improved comp assessment also to take the settings into accoun

[2020-02-22 02:50] tmfrnz commented on #92
Fixed dropdown scroll (https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/41a2ee4b0a8cf7d2f0bf0f1e16ad17f2e22ba19f), see https://hrmi-dataportal-v3.web.app/en

Cannot reproduce header menu issue pictured top right

[2020-02-22 04:51] tmfrnz commented on #107
to clarify
- [ ] chart metric selection: how to deal with missing data? (a) button inactive, preventing users to render empty chart, or (b) render chart with missing data message

[2020-02-22 04:56] tmfrnz commented on #107
to fix
- [ ] 'about' sidebar alignment issue when fixed to top

[2020-02-22 05:01] tmfrnz commented on #84
with the country-metric overlay removed from v3, we will need to consider if and how/where this information should be included

[2020-02-23 04:16] annemariebrook commented on #84
Yes, great - can we put this on our agenda for our next in-person catch up?

[2020-02-23 21:46] annemariebrook commented on #68
@tmfrnz Thanks very much for clarifying. I've just discussed this with Thalia, and we would like to add an additional sentence at the end of every ESR comparative assessment that makes it clear which benchmark is being used.

e.g. Using Liberia, which is a country for which the assessment changes with the benchmark, it should say either:.

On Quality of Life, Liberia is performing **close to avera

[2020-02-23 21:55] tmfrnz commented on #68
@annemariebrook a few follow-up questions:
- Could you confirm: We use the "subregion" (eg Pacific) for comparison only for the Pacific countries. For all other we use the wider "region".
- I assume that we will want to keep the current note about the assessment standard (when not using the default): "Please note: data and commentary are shown for the 'High income' assessment standard. For 'Low an

[2020-02-23 23:29] annemariebrook commented on #68
@tmfrnz thanks for the excellent questions!
- For ESRs I think we should use the sub-region for comparison in all cases (for low and middle income countries only). For the high-income countries, the ESR comparison should continue to be with the 'other income countries'

- For CPRs, it's a bit more complicated. I'll discuss with Chad and get back to you.

- yes please to keeping the current note ab

[2020-02-23 23:47] tmfrnz commented on #68
@annemariebrook thanks for clarifying. I think the focus here only applies to ESR anyway. For CPR-countries we will always have the dimension score so this issues does don't really apply. Also, for CPR we currently compare with all CPR countries and I assume to keep this until further notice (in a separate issue please)

[2020-02-25 04:23] tmfrnz commented on #46
irrelevant: will show categories and all rights together

[2020-02-25 04:23] #46 closed

[2020-02-26 00:36] tmfrnz commented on #68
@annemariebrook

I wonder if -instead of noting the active benchmark- we should, at least on the details page, just include a sentence for each of the 2 benchmarks (similar to what we have in the main narrative)?

[2020-02-26 00:40] tmfrnz commented on #68
So I suggest we either have (single benchmark)

...or something similar to (both benchmarks):

[2020-02-27 09:36] annemariebrook commented on #68
Agreed!  Let's work some more on the auto narrative once we've got v3.0 ready for user testing.

[2020-03-01 10:37] tmfrnz opened #118 "v3 miscellaneous TODO"
#### Header

- [x] search should be a button with label "search"
- [x] change subject order: rights | countries | people
- [x] search active index should reset on text change
---

#### Home

- [x] TBD: people slider (more consistent) or people intro (more engaging)
- [x] use new metric icons on homepage
- [x] fix metric icon alignment on FF
- [x] update intro section 3 stripes
- [x] change subject

[2020-03-10 05:26] annemariebrook commented on #68
I agree with your proposal to include a sentence on both benchmarks, at least on the details page. as you propose.

[2020-04-13 13:38] tmfrnz opened #120 "Editorial pages: consider section breaks"
Will need some visual break for content sections (loaded from editorial content pages).

[2020-04-13 13:43] tmfrnz opened #121 "Update FAQs"
- [x] uncertainty
- [x] grading scales

Each with custom methodology links

[2020-04-21 19:20] tmfrnz opened #122 "Set up v3.1 branch and test site to test and review new data"

[2020-04-21 19:21] tmfrnz opened #123 "Text fields to review"
A collection of text fields that may (or may not) require editing

[2020-04-21 19:21] tmfrnz commented on #123
- [ ] hrmi.components.ChartSettingFilters.featuredFilterOptionGroup this field groups the different "featured" category filters in the filter dropdown

[2020-04-22 13:29] tmfrnz commented on #15
see #104

[2020-04-22 13:29] #15 closed

[2020-04-22 18:08] tmfrnz commented on #123
- [ ] hrmi.components.AboutMetric.titleStandards: the accordion title on the about indicator panel

[2020-04-22 18:23] tmfrnz commented on #123
- [ ] hrmi.containers.LayerSettings.labelStandard: missing translation for ES
- [ ] hrmi.containers.LayerSettings.labelBenchmark: missing translation for ES

[2020-04-24 02:45] sarahbichan commented on #123
hrmi.components.AboutMetric.titleStandards was still in EN, so this has now been translated in all languages.
hrmi.containers.LayerSettings.labelStandard and hrmi.containers.LayerSettings.labelBenchmark have translations...

Not sure what needs to be done for these two... What is the problem with the existing translations?
hrmi.components.ChartSettingFilters.featuredFilterOptionGroup this field gr

[2020-04-24 10:38] tmfrnz commented on #123
Reverted all country narrative translations (except any outdated ones). These are the narrative fields that thus still require review and/or edits (for all languages):

UPDATED fields (EN changed from v2 to v3)

- [ ] hrmi.components.CountryNarrative.esr.changeStandardNote
- [ ] "hrmi.components.CountryNarrative.compAssessmentESR.end"
- [ ] "hrmi.components.CountryNarrative.compAssessmentESR.endHi

[2020-04-24 10:41] tmfrnz commented on #123
The challenge is to find good labels, one that groups the different filters and one that refers to the filter setting that allows to filter for countries that have any "'featured' category" set (effectively the same selection as on the home page). For the former the tricky bit is that these are not "selected categories" but "categories for selected countries"

[2020-04-25 01:45] annemariebrook opened #124 "Explain missing 'People' data on QoL tab"
On the Quality of Life tab at the very bottom we have the People at Risk section. For non-survey countries we have no data. @tmfrnz, can we please add a line of text to explain?

Here is some place-holder text (we might edit it).

“Information on people at risk comes from our annual expert survey. No data on this is currently available for {Samoa}"

I think this solution is preferable to removing

[2020-04-26 02:12] sarahbichan commented on #123
For hrmi.components.CountryNarrative.compAssessmentESR.startSome, this is not right as we end up with sentences like "l'Algérie is performant proche de la moyenne, par rapport aux autres pays en" and then no region name afterwards. This is happening in all languages. In the grammar, it says {regionWithArticle), which should work....? Not sure how to correct this one.

[2020-04-26 12:15] tmfrnz commented on #123
Thanks @sarahbichan, there was actually a bug in the region with article function, preventing it from showing the `{regionWithArticle}` variable. This is now fixed however I am not entirely sure when articles should be shown. Currently for FR, ES, and PT the code only adds an article by default for "the Americas".

Also please note that I have updated that FR select rule here
https://github.com/Hu

[2020-04-26 12:20] tmfrnz commented on #124
Yes will add

[2020-04-26 12:43] tmfrnz commented on #123
Some more fields previously missing in language files:
- [ ] hrmi.labels.abbrev.notAvailable
- [ ] hrmi.containers.AboutCountryContainer.more
- [ ] hrmi.containers.AboutCountryContainer.labels

[2020-04-26 22:33] annemariebrook commented on #124
Thanks. Here's the updated text we've decided to go with.
"'Information on which people are at extra risk of rights violations comes from our annual expert survey, and is not yet available for {Samoa}"

[2020-04-26 22:42] annemariebrook opened #125 "Improve consistency of no-data presentation"
For countries that have no data there is an inconsistency in the way the CPR and ESR 'no data' are presented.  For the ESRs there is an empty graph. For the CPRs we have sentence "Data not yet available". This is the case for both the At a Glance tabs and the detail tabs.

![image](https://user-images.githubusercontent.com/24514633/80321657-d9350000-8872-11ea-9403-a9320459aee6.png)

Thalia and I h

[2020-04-26 22:49] annemariebrook opened #126 "Add text explaining how to 'Switch view'"
Some HRMI team users have noted that it took them a while to figure out how to change the ESR settings (and they knew what they were looking for).

The suggested fix is to add an additional sentence explaining how to find the tools for changing the settings.  Here's the new sentence we propose.

“To change the performance benchmark or assessment standard, please click on ‘Switch View’ above”

We p

[2020-04-26 22:58] annemariebrook commented on #123
Not sure if this is helpful or not, but in English we would have articles on these regions (in sentences):
- The Americas
- The Middle East and North Africa
- The Pacific
I presume it would be the same for FR, ES and PT, but i could be wrong.

[2020-04-26 23:43] annemariebrook opened #127 "Fix list of indicators for which sex disaggregation is available."
Susan has passed on the following observations:

"I was looking at the country page for a high income country on the bar charts for “By sex” . I noticed the “by sex” tab allowing you to switch between rights/indicators is not correct.  In particular, you are given the option to get by sex data on the high income assessment standard indicator, food security, used to assess the right to food.  There

[2020-04-27 00:11] annemariebrook commented on #123
Hi @tmfrnz.  I've consulted with Thalia and we do not want to offer users the ability to filter by the 'selected categories' (e.g. 'in the new' 'upcoming UPR').  We only want this for selecting which countries are featured on the Home Page. Can you please remove this from the 'Filter'?  This also means that @sarahbichan doesn't need to come up with translations for these for the filter. Thank you.

[2020-04-27 02:37] sarahbichan commented on #123
For French:
aux Amériques
au Moyen-Orient et Afrique du Nord
The rest just use "en" with no article (en Afrique subsaharienne, en Europe et Asie centrale, en Asie du Sud, en Asie orientale et Pacifique)

For Spanish:
The Americas is translated simply as America (I checked and this seems fine). Not plural and no article needed.
The rest just use "en" and no other article

For Portuguese:
It's more

[2020-04-27 02:44] sarahbichan commented on #123
For hrmi.components.CountryNarrative.compAssessmentESR.oneRight, without context, I can't review this. Can you please let me know where this appears? Thanks.

[2020-04-27 03:04] sarahbichan commented on #123
For hrmi.containers.PathCountry.countryScoreExplainer.esr.adjusted, I'm not satisfied that even EN needs two forms of the possessive plural here. {countryWithArticle} {isPlural, select, true {are} false {is}} doing {score}% of what should be possible at {isPlural, select, true {their} false {its}} level of income, Even when we have a pluralised country (e.g. The Americas), I would still say its in

[2020-04-27 03:09] sarahbichan commented on #123
hrmi.containers.PathCountry.countryScoreExplainer.esr.adjusted: Sorry - only for EN. The other languages need to match the sing/plural of the noun.

[2020-04-27 04:08] annemariebrook commented on #123
@sarahbichan and @tmfrnz it seems you two have this under control, but please let me know if any further input is needed from me on any of these.

[2020-04-27 07:19] sarahbichan commented on #123
check consistency of quotation marks -  this will have to wait till after launch. There are other things that will be more obviously wrong if not addressed before this. Definitely on the to-do list for after launch though.

[2020-04-27 07:47] sarahbichan commented on #123
FR reflexive verb forms - these ARE needed for it to be grammatical, good French. For the last two, it was easy enough to change them back. However, for the first two, they need some grammar rules so they can change for masc/fem and plural. E.g. exploite-t-il or exploite-t-elle or exploitent-t-ils, etc. I haven't changed the first two as I'm not sure how to apply the grammar rules.

hrmi.charts.di

[2020-04-27 09:22] tmfrnz commented on #127
This should now be working as expected - please confirm.

Also, we could generally consider only offering metrics in these dropdowns where we actually have data for (however I realise this would kind of go against #125)

[2020-04-27 09:25] tmfrnz commented on #125
Ok this should not be hard.

I guess the reasoning for treating ESR differently here was that the scores may sometimes be available for the different assessment standard.

[2020-04-27 09:40] tmfrnz commented on #123
In addition I think in EN we should also have an article for the subregion "Middle-East".

[2020-04-27 09:42] tmfrnz commented on #123
@sarahbichan:
Assuming @annemariebrook agrees, feel free to just replace the ` {isPlural, select, true {their} false {its}}` with `its`

[2020-04-27 09:42] tmfrnz commented on #123
Removed!

[2020-04-27 09:59] tmfrnz commented on #123
@sarahbichan you can use the genderNumber argument, as we do eg for `"hrmi.components.CountryNarrative.compAssessmentSectionTitle": "...{genderNumber, select, mp {positionnent-ils} m {positionne-t-il} fp {positionnent-elles} f {positionne-t-elle}} ...`

* mp: masculine + plural
* m: masculine + singular
* fp: feminine + plural
* f: feminine + singular

[2020-04-27 10:04] annemariebrook commented on #123
Thanks Timo. It's still showing up on my view, but perhaps that's just because you haven't integrated the change yet?

[2020-04-27 10:05] annemariebrook commented on #123
I'm happy however this is done, as long as the resulting text is correct! :-)

[2020-04-27 10:05] tmfrnz commented on #123
yes!

[2020-04-27 10:09] annemariebrook commented on #127
Looks good to me, thanks @tmfrnz.
I don't have a strong view on whether we only offer metrics in the dropdowns where we actually have data. It's not a bad idea, and I don't think the inconsistency with #125 would be problematic. But also it doesn't seem high priority. Happy for you to leave it as is if you like.

[2020-04-27 10:37] tmfrnz commented on #123
@sarahbichan There is a new argument called `regionIn` that now _should_ return the correct form. Please let me know if it doesn't and I can tweak the code! You can see how to use it here
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/96b9120c5fbac4e3029308a1ea3984a4a8834692

[2020-04-27 10:41] tmfrnz commented on #123
You can find this in the comparative assessment for countries where we only have scores for one right, eg Kosovo: https://hrmi-dataportal-v3.web.app/en/country/XKX

[2020-04-27 10:42] tmfrnz commented on #123
@sarahbichan: You can find this in the comparative assessment for countries where we only have scores for one right, eg Kosovo: https://hrmi-dataportal-v3.web.app/en/country/XKX

[2020-04-27 11:52] tmfrnz opened #128 "Updated and new text fields requiring translation"
Likely not a complete list but might still be helpful to track fields that require translations (and separately from the convoluted #123)

### Updated fields

- [x] "hrmi.indicators-about.net-primary"

### New fields

- [x] "hrmi.hints.settings": "To change the performance benchmark or assessment standard, please click on ‘Switch View’ above"
- [x] "hrmi.hints.noAtRiskData": a hint showing where a

[2020-04-27 13:24] tmfrnz commented on #126
Have added this

to the floating footnote on
- metric pages (ESR)
- country overview

to the country pages
- country snapshot (right below ESR comparative assessment)
- country page (ESR, right below Quality of Life overview)

A few remarks/questions:
- A more generic hint would probably be beneficial and more consistent (eg on the single metric indicator view we only have a benchmark setting but

[2020-04-27 13:24] tmfrnz commented on #126
I have by the way added the new text field to the translations issue #128

[2020-04-27 13:27] tmfrnz commented on #111
Download page has been implemented but is still missing a form to capture user data

[2020-04-27 14:27] tmfrnz commented on #124
This has now been added. Also, I added a translation task to #128.

Further I removed the sentence as it is mostly redundant with the metric selector above (duplicate text in bold):

"We asked **human rights experts** to choose from a list of options which people were **particularly at risk of having** this right **violated**. The images below show their answers."

Metric selector text:

"Which pe

[2020-04-27 14:33] tmfrnz commented on #124
Here the previous version with the redundant information
![image](https://user-images.githubusercontent.com/5811956/80384115-c6d3ba00-88a4-11ea-9c4f-4ce3371eed87.png)

[2020-04-27 14:36] tmfrnz commented on #124
Related to this: we do not currently offer the at-risk tab for countries that do not have at-risk data, but we do offer the 2 CPR tabs even if we do not show any data.

Would probably be good to treat this tabs consistently, either by also always showing the at-risk tab (with the no data hint when data is missing) or not offer the 2 CPR tabs if CPR data is missing. What do you think?

[2020-04-27 14:43] tmfrnz commented on #125
Have quickly changed this already as this was very quick to
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/58de3e82a2c9ec81c4801b9a247a3e45a0d3980e

[2020-04-27 15:23] tmfrnz commented on #118
@annemariebrook today Edith and I adjusted or added the background colours on the home page and overview pages. In particular we suggest:

- a light red/salmon for the "Data cards" section on the home page
- a light orange for the "People" section on the home page, as well as for the People overview page
- a light purple for the "About" section on the home page, as well as for the Country overview

[2020-04-27 20:18] annemariebrook commented on #126
Awesome - thanks @tmfrnz !

[2020-04-28 01:10] annemariebrook commented on #124
Thanks @tmfrnz. We are happy to add back the at-risk tab for all countries (with the no data hint when data is missing).

We'd also like to add the relevant empty table to each of the 2 CPR tabs. In addition to the table we'd like to keep the existing text as well.

[2020-04-28 01:11] annemariebrook commented on #125
Thanks. Is it also easy to add the empty tables to the two CPR tabs as well? (keeping the text that is there currently).

[2020-04-28 01:14] annemariebrook commented on #126
I discussed this with Thalia and we think the best solution is to remove the * and the footnote hint from the Indicator pages. This seems to make sense only on the ESR Rights pages. For the indicator pages we think the * and footnote can actually be quite confusing.   OK with you?

[2020-04-28 01:40] sarahbichan commented on #123
Ater some thought, I think we should leave it as is.

[2020-04-28 02:08] annemariebrook opened #129 "Bug in time-trend charts by sex for ESR indicators"
Here's a problem - which seems to be a bug - picked up by Susan.

"I did notice one other thing that is quite annoying and needs to be changed at some point.  It concerns the time series graphs.  If I click on a right -- say right to education -- then I can click back and forth between "Both sexes", "Male", and "Female", and that is how it should be.  However, if I click on one of the indicators c

[2020-04-28 02:23] annemariebrook commented on #118
The colours look great! Thanks so much Timo and Edith.

One final design change we'd like to request is the big purple diamond on the landing page photos. We've had a lot of feedback from people who find it quite annoying - and I agree as it gets in the way of the photos a bit. I'd like to ask Adina to review it once she's back on board, but in the meantime our intern Abigail suggested that we jus

[2020-04-28 02:32] sarahbichan commented on #123
Done. Thanks!

[2020-04-28 02:43] sarahbichan commented on #123
hrmi.containers.PathMetricOverview.sectionTitle - In FR, the word order is wrong here. You can't say % Quality of Life Rights. It has to be:
« 5 droits en matière de Qualité de vie »
« 5 droits en matière d’Intégrité physique »
« 3 droits en matière d’Autonomisation »

I've changed the field to "{no} droits en matière de {category}" but I'm not sure how to make it select de or d' for a consonant o

[2020-04-28 02:53] sarahbichan commented on #123
The last one is hrmi.containers.AboutCountryContainer.less. These have all now been translated.

[2020-04-28 02:54] sarahbichan commented on #123
Done. Thanks.

[2020-04-28 08:01] tmfrnz commented on #125
Yes will do

[2020-04-28 08:13] tmfrnz commented on #118
We agree and suggest to move it to the bottom right corner

Have removed

[2020-04-28 08:24] tmfrnz commented on #126
Have removed the note for indicator views (as well as the asterisk in the country labels)

[2020-04-28 08:25] tmfrnz commented on #129
Yes this is on my list already over at #118 "ESR over time should show all people when by sex data not present even if deactivated"

[2020-04-28 08:29] annemariebrook commented on #129
OK great!

[2020-04-28 10:21] annemariebrook commented on #126
Thanks!

[2020-04-28 13:54] tmfrnz commented on #123
@sarahbichan I have now added a `categoryCode` attribute to the message so that we can specifically target this, using the select statement:

`{categoryCode, select, physint {d'} empowerment {d'} esr {de }}`

https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/dev-v3/app/translations/fr.json#L118

[2020-04-28 15:04] tmfrnz commented on #125
Added empty tables to CPR tabs

[2020-04-29 01:50] sarahbichan commented on #123
You're brilliant. Thanks :).

[2020-04-29 09:50] sarahbichan commented on #123
I have no suggestions at the moment. Can @annemariebrook  and Thalia look at this, please and let us know what they think? Thanks.

[2020-04-29 14:00] tmfrnz commented on #122
* v3.1 branch: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/tree/dev-v3.1
* v3.1 test site: https://rightstracker-v3-1.web.app

Also set up for archiving current v2:
* v2 branch: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/tree/archive-v2
* v2 site: https://rightstracker-v2.web.app/

[2020-04-29 14:00] tmfrnz commented on #122
cc @annemariebrook

[2020-04-29 14:00] #122 closed

[2020-04-30 22:42] tmfrnz opened #130 "Tooltip not working in country aside overlay"

[2020-05-01 14:10] tmfrnz commented on #120
For now we are simply using the standard horizontal rules (MarkDown: `---`, HTML: `<hr/>`) but could alternatively create real sections with background when storing HTML in the MD files

[2020-05-02 12:27] #130 closed

[2020-05-02 12:39] tmfrnz opened #132 "Country overview sort does not reset to available sort options"
When the metric list is sorted by score (set by user), the sort attribute is not reset in the option dropdown on the country overview

[2020-05-02 12:54] #132 closed

[2020-05-04 11:53] tmfrnz opened #134 "Add link for "missing CPR" text"
“We would like to expand our data collection to the whole world as soon as possible. To learn more about how you can help, please visit this page on the HRMI website: https://humanrightsmeasurement.org/do-you-want-hrmi-human-rights-scores-for-your-country/”

[2020-05-04 11:54] tmfrnz opened #135 "Remove text "missing ESR" data for Pacific countries"

[2020-05-05 01:00] annemariebrook opened #136 "Sort function on Rights pages not working"
When I try to sort by name, popn, or GDP the screen goes blank.

[2020-05-05 10:20] tmfrnz commented on #136
this has now been fixed

[2020-05-05 10:20] #136 closed

[2020-05-05 21:16] annemariebrook commented on #136
Thanks!

[2020-05-06 11:08] annemariebrook opened #138 "Number of countries & sort by availability"
Two small issues to ask about (feel free to separate into two issues if you prefer):
1. As Susan pointed out, it would be good to change the number of countries on the tile on the home page to the number of countries for which we have at least one data point. So instead of 222 countries, for v3.0 it would say 195 countries, and for v3.1 I'm not yet sure (as I haven't seen Chad's final count), but

[2020-05-07 15:07] tmfrnz opened #140 "Review "sort by availability""

[2020-05-07 15:16] tmfrnz commented on #138
Yes, this is indeed tricky, especially when wanting to be consistent across pages.

However I so not think it is wrong to claim that we have data on 222 countries (as lack of information is also data). After all we have all 222 countries in the DB and it would be "more wrong" to state 197 (or whatever) and then actually have more countries to chose from.

Regardless, I would oppose having a differ

[2020-05-07 15:19] tmfrnz commented on #140
The algorithm looks after all available rights scores regardless of income level. This was done so that the order of countries does not change when changing the settings (ie assessment standard) which could otherwise be confusing. This was probably more relevant with the v2 settings panel (at bottom).

[2020-05-08 02:17] annemariebrook commented on #140
Ah - ok - i get it now. So it takes into account the number of rights scores available on BOTH assessment standards, even though only one is visible at a time. Thanks for explaining.  I think it would be ideal if it reordered according to the settings, but i can see why this wasn't originally done. Happy to leave it as is for now :-)

[2020-05-08 02:36] annemariebrook commented on #138
OK. I don't think anyone in the HRMI team would claim to be tracking human rights in 222 countries. The other countries are there because they are countries (or territories) that exist in the world, and while an empty set is useful information, I don't think that would meet any of our definitions of 'data'.

My preference would be to change the landing page number to the number of countries for wh

[2020-05-09 11:08] tmfrnz commented on #138
Ok, will update the landing page accordingly.

I like your ideas for the country overview. How about we simply do:
* __Main header__: "All countries", could also say "All countries (and territories)"
* __List header (unfiltered)__: "Scores available for 195 countries" (maybe we can get away with this without stating the full number in list)
* __List header (filtered)__: "Showing scores for [xx] co

[2020-05-09 11:14] tmfrnz commented on #140
Great, regardless this should not be too hard to change in the future

[2020-05-10 10:08] tmfrnz opened #141 "CPR 2020 data: use Pacific region for comparative assessment"

[2020-05-10 10:09] tmfrnz opened #142 "ESR data: confirm Pacific subregion is used for comparative assessment"

[2020-05-10 10:13] tmfrnz opened #143 "CPR data: ensure handling of incomplete data"
Previously CPR data was all or nothing - hence the app's availability check only looks for dimension scores. Now that CPR data can also be partially available, the app should also look at available rights (as is done for ESR data)

[2020-05-10 10:13] tmfrnz commented on #143
From @kchadclay via email

[2020-05-10 10:24] tmfrnz commented on #142
@annemariebrook happy to confirm that for countries with sub-region "Pacific" the reference scores are calculated based on *other* countries of the same sub-region

Currently this is **only** done for the Pacific sub-region but can easily be enabled for other sub-regions as well if you really want to (eg for East Asia).
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/maste

[2020-05-10 11:01] tmfrnz commented on #141
@annemariebrook @kchadclay could you clarify how to handle HI countries?

Currently for the CPR comparison, the HI countries are compared with other HI countries only, and other countries with all countries.

For ESR, HI countries are compared with other HIs, other non-HI countries are compared with all other countries in the same region (or sub-region for Pacific)

Now the question is, if the Pac

[2020-05-10 11:17] tmfrnz commented on #141
To further clarify: CPR comp. assessment is either for HI **and** OECD countries or for all countries

[2020-05-10 11:46] tmfrnz commented on #143
from @annemariebrook via email

(strike-through by me as benchmark irrelevant for CPR data)

[2020-05-10 11:58] tmfrnz opened #145 "IE11 fails to load v3 rights tracker"

[2020-05-10 20:34] annemariebrook commented on #143
Thanks for the correcton Timo!

[2020-05-10 20:39] annemariebrook commented on #141
@tmfrnz, thanks for the question. The Pacific comparison should be enabled for the countries in the Pacific that are both non-HI and non-OECD. i.e. all countries except NZ and Australia.

HI **and** OECD  countries should continue to be compared only with other HI and OECD countries.

Thank you!

[2020-05-10 20:42] annemariebrook commented on #141
Another clarification: the reference group for the Pacific region should include ALL countries in the region. i.e. Fiji's Empowerment score will be compared to a regional average that includes NZ and Australia.

[2020-05-10 20:45] annemariebrook commented on #142
Thanks @tmfrnz.  I'll check with the rest of the team on this, and get back to you in a day or two.

[2020-05-11 14:19] tmfrnz opened #146 "IE11 issues"

[2020-05-11 14:26] tmfrnz commented on #146
- [ ] Logo: app title does not break lines
![image](https://user-images.githubusercontent.com/5811956/81572369-6c0d8880-93a3-11ea-9ee5-b477c6a2cf42.png)

- [ ] Search: placeholder text not showing when active
![image](https://user-images.githubusercontent.com/5811956/81572480-8f383800-93a3-11ea-8b70-f8c09afeed02.png)

- [ ] Top menu: dropdown not aligned with other nav items
![image](https://user-

[2020-05-11 14:31] tmfrnz commented on #145
A complete re-install of the npm packages and subsequent rebuild appears to have fixed the issue

[2020-05-11 14:31] #145 closed

[2020-05-11 15:22] tmfrnz commented on #143
For handling in narrative see #141

[2020-05-11 15:28] tmfrnz commented on #141
To recap: while we always do a regional (or sub-regional) comparison for ESR, for CPR we will have 3 different types of comparisons:
1. HI/OECD: compared with all High Income/OECD countries, incl self
2. Region/not HI/not OECD): compared with **all other** countries in region (ie Pacific)
3. Not HI/not OECD: compared with all **other** countries

For each type we may/will need to cover the followi

[2020-05-11 16:30] tmfrnz commented on #141
This is what we currently have:

### 1.1./2.1 No data

_[Safety from the State] data have not yet been produced for [Austria]. We would like to expand our data collection to the whole world as soon as possible. To learn more about how you can help, please
visit this page on the HRMI website._

### 1.2. HI/OECD // all rights

_Compared with the small group of five (?) high-income OECD countries we

[2020-05-11 17:32] tmfrnz commented on #143
Here an additional thought:

For the CPR comparison, we use the confidence interval as the relevant range for the comparison with the average, mean score of the reference group. However I do not think that the methodology would allow to simply average the confidence intervals across rights (after all the confidence intervals of the dimension scores are also not the average of the individual rights

[2020-05-11 17:42] tmfrnz commented on #143
To clarify: we have three outcomes of the comparison
1. Better: lower bound is larger than reference (for ESR: score - 5)
2. Worse: upper bound is smaller than reference (for ESR: score + 5)
3. Close: reference is within lower and upper bound (for ESR: within score +/- 5)

The reference is the average of the mean scores of the reference group

[2020-05-12 04:26] annemariebrook commented on #143
Thanks very much Timo for your careful consideration of this.

Chad, Thalia and I discussed this issue this morning and we decided, given the complications, and the fact that there are very few countries for which we have incomplete CPR scores, that we should NOT include a comparative assessment for countries in this circumstance.

Instead – for countries with some, but incomplete Safety from the

[2020-05-12 04:35] annemariebrook commented on #141
Thanks Timo. As noted in issue #143, we propose NOT to include a Safety from the State or Empowerment comparative assessment if we don't have a complete set of Safety from the State or Empowerment scores.

So that means your recap above is correct with the one addition that the comparison will only be made for countries where all scores in a CPR dimension are available.

For countries where there

[2020-05-12 09:14] tmfrnz opened #147 "Mobile/responsive issues (v3)"
A collection of mobile issues

[2020-05-12 10:00] tmfrnz commented on #147
- [ ] The rights are not labelled on the charts (from @annemariebrook via email, iPhone7)

![image001 (1)](https://user-images.githubusercontent.com/5811956/81666393-47b4b900-9442-11ea-9208-b6d78037fd56.png)

@annemariebrook this is done on purpose and only visible on touch because for smaller mobile screens there would otherwise not be enough space to also show the grading brackets in the backgro

[2020-05-12 10:17] tmfrnz commented on #141
@annemariebrook @kchadclay further questions:

For adding the regional comparison should we stick with (a) the current logical sentence order OR (b) the reverse order (as currently used for ESR)?

a) _Compared with the other countries in the [Pacific] we have civil and political rights data for, [Tuvalu] is performing close to average [on the right to be safe from the state | on empowerment rights

[2020-05-12 10:17] tmfrnz commented on #143
Sounds good - thank you for confirming

[2020-05-12 21:06] annemariebrook commented on #141
@tmfrnz, I have a fairly strong preference for the sentences starting with "Compared with...".  In order to make them consistent (which is a good idea) I would rather rephrase the Quality of Life Sentences.   e.g.

_Compared with all other high income countries, the United States is performing worse than average on Quality of Life rights (this comparison is calculated using the 'Income adjusted' b

[2020-05-12 21:47] annemariebrook commented on #147
The problem with the right hand side of charts being cut off is on Firefox on my iphone.
I've just been looking at it again, and I found that if i "zoom out" (using my fingers on the screen) I can see the whole chart. I also just tried Chrome and it was similar.  i.e. the chart didn't initially size correctly to fit my screen, although i could Zoom out to see it all.

Regarding the decision not to

[2020-05-13 09:59] tmfrnz commented on #141
Great - thanks for confirming!

[2020-05-13 10:02] tmfrnz commented on #147
Thanks for providing the additional info!

Adjusting the charts for different screen widths will not be hard, but would just require some consideration of the different options and constraints, ideally supported by a quick design

[2020-05-15 04:43] annemariebrook commented on #147
@tmfrnz I’ve since had more feedback from the team about the bars on the country charts not being labelled in the mobile version. We think it is quite problematic to not label the bars as it makes the country charts quite useless on mobile. If there is a tradeoff between showing the rights names vs the grading brackets, I think we would choose the former, although obviously we would like to see bo

[2020-05-15 05:44] annemariebrook opened #148 "Add "Country status" for dependent territories"
As previously discussed, we would like to add an additional field in the country details panel (I would put it directly under "income group") providing a description of the country status, but ONLY for dependent territories (i.e. for most countries no information would appear here).

I think we already provided the relevant information for all the Pacific territories? Can that be easily integrated

[2020-05-17 15:05] tmfrnz commented on #148
Duplicate of #117

[2020-05-17 15:05] #148 closed

[2020-05-19 05:23] annemariebrook commented on #138
@tmfrnz - just wondering if you're ok to progress this issue this week? The 222 countries tile on the landing page is bothering Susan. Thank you!

I'm happy with your suggestions above for how to resolve it. i.e.
- Main header: "All countries", could also say "All countries (and territories)"
- List header (unfiltered): "Scores available for 195 countries" (maybe we can get away with this without

[2020-05-20 02:52] annemariebrook opened #149 "Capitalisation of indicator name in middle of sentence"
There is a Q&A on each rights page that says: “How does the HRMI methodology calculate the [Primary school enrolment] score from raw data?”

In each case the indicator name is capitalised. e.g. capital "P" on "Primary" in the example above. Since this appears in the middle of a sentence the first letter on each indicator name should be lower case.

Is this easy to fix, or something we can delegate

[2020-05-20 10:57] annemariebrook commented on #123
Since we removed the "featured cateogory" filter in the filter dropdown, I don't think there are any translations still required here. Can you please confirm that @tmfrnz ?

[2020-05-21 05:02] annemariebrook commented on #142
@tmfrnz, just confirming that we would like the ESR comparisons to be done at the sub-region level for all low and middle income countries.

Note that some countries are only part of a region (e.g. the Americas) so no change needed there. Related to this, I just noticed that the MENA region has only one sub-region listed (Middle East). Was that an oversight on our behalf when we provided the sub-r

[2020-05-23 10:57] tmfrnz commented on #147
- [ ] chart tools overlapped by chart title
![image](https://user-images.githubusercontent.com/5811956/82729097-f7b4dc80-9cf4-11ea-9dc1-4b0a891c3ace.png)

[2020-05-23 15:21] tmfrnz commented on #147
@annemariebrook by displaying the grade labels differently for small screens, the labels and scores can now be shown on all charts and all screen sizes (and languages), deployed for testing on our dev site: https://rightstracker-dev.web.app

![image](https://user-images.githubusercontent.com/5811956/82734226-e0d4b100-9d19-11ea-9fef-03bb4c84590c.png)

[2020-05-23 15:22] tmfrnz commented on #147
@annemariebrook I could not reproduce the "zoom" issue btw, could you confirm if it is still an issue?

[2020-05-24 02:22] annemariebrook commented on #147
@tmfrnz
1. Your solution to the bar and grade labelling looks great! Well done! I'm very happy for you to push this to the live site any time.
2. I just checked on both firefox and safari and the 'zoom' issue also seems to have been resolved. Thank you!

[2020-05-24 14:33] tmfrnz commented on #147
done, deployed to production =)

[2020-05-24 14:43] tmfrnz opened #152 "Test note to issue"

[2020-05-24 14:43] #152 closed

[2020-05-24 15:17] tmfrnz commented on #138
@annemariebrook had a quick look at implementing this and some additional questions/comments regarding the country count in the list header.

**Regarding unfiltered list**

* I would not suggest to actually write the number of countries into the messages but instead pull it from the data (that way it will always be accurate)
* When calculating the "number of countries we have scores for", does thi

[2020-05-24 15:35] tmfrnz commented on #117
@annemariebrook just to confirm that this is the list of preferred country statuses
https://docs.google.com/spreadsheets/d/1k35Jvtmh3mwS5ndIX2Otl2kqPsetrEvR8EUl3okKKOI/edit?usp=sharing
Thanks

[2020-05-25 08:52] annemariebrook commented on #117
yes - thank you.

[2020-05-25 08:54] annemariebrook commented on #147
fabulous. thanks @tmfrnz !

[2020-05-25 09:06] annemariebrook commented on #138
@tmfrnz, I agree that the number should be pulled from the data.
- the 'number of countries we have scores' for should refer to the rights scores (not indicators). On the all-countries page I would be happy for the number to depend on the selected scale. However, for the landing page I think it should be either (so 195 for v3.0 and 197 for v3.1).

For the filtered list on the metrics pages (rights

[2020-05-25 09:55] tmfrnz commented on #138
I was only referring to the country overview, not the single metric page where we indeed only show countries we have scores for (for selected metric). On the country overview however we are

* often showing more countries (all countries or all countries matching the current filters) than countries we have scores for so and
* sometimes countries have scores but are not showing for the selected scal

[2020-05-25 10:03] annemariebrook commented on #138
Hi @tmfrnz, that makes sense and i am happy with your first three bullet point suggestions.

For the single metric view pages, I have a strong preference for "Showing scores for [xx] countries" as the count of scores 'showing' is useful for someone interested only in the countries showing for that indicator or right. (e.g. if they want to say that their country ranks 30th out of 84 countries - it

[2020-05-25 10:07] tmfrnz commented on #138
Sounds good! In the future and once we have #117, we could even make the "or territories" depending on the countries' statuses

[2020-05-25 10:13] annemariebrook commented on #138
Ah - that could be good :-) Thanks @tmfrnz !

[2020-05-25 14:41] adi-cam opened #153 "Navigation Design"
- [ ] Fix Logo Issues (tag is not really readable, "Rights Tracker" lineheight is off)
- [ ] Design "Download Data" link as external link

[2020-05-25 14:43] adi-cam opened #154 "Print Version of “At a Glance”"
Create a print version of the "At A Glance" country page. Technical restrictions: Use print-css options.

[2020-05-25 14:44] adi-cam opened #155 "Content Pages Design"
Design of the content pages "About" and "Methodology". A simple solution is to make the text body less wide so that the paragraphs are not so wide. However, the overall design of the two pages should also be reviewed in this step.

[2020-05-25 14:45] adi-cam opened #156 "Chart Issues"
- [ ] Income adjusted / global best benchmark
- [ ] Rights labels on mobile
- [ ] View of country charts
- [ ] Dimension scores

[2020-05-25 14:48] adi-cam opened #157 "Copy Advice and design with current copy"
- [ ] Review of Website in terms of copy
- [ ] Design proposal for headers with current copy

[2020-05-25 14:56] adi-cam opened #158 "Start Page – Finishing touches"
Go through start page to finish design details

[2020-05-25 14:58] adi-cam opened #159 "Country Tiles on Start Page"
Explore option for the visual elements in the country tiles on the start page that would replace the landscape photographs.

[2020-05-26 14:08] tmfrnz commented on #154
related to #61

[2020-05-26 14:09] tmfrnz commented on #155
Related to #120

[2020-05-26 14:11] tmfrnz commented on #158
some of this is already documented in #118, specifically
- photo gallery transitions
- consistent card height
- extend maximum content width to 1440px

[2020-05-27 22:58] annemariebrook opened #160 "Search box at top right stays open"
If I click in the search box at the top right it stays open, thus covering the navigation menu, while i am exploring the website.

I think this was a problem earlier, and then it was fixed. But it seems to be back.

[2020-05-28 00:21] annemariebrook opened #161 "Add info on government respondents in 5 Pacific countries"
For some of the smaller Pacific countries, we permitted (for the first time) some survey respondents to be government employees. We've been discussing how to present this information on the Rights Tracker, and here's what we propose:

1. On the rights pages - add a footer, with a superscript lower-case 'g' as the indicator for the following five countries only: Niue, Nauru, FSM, Tonga, Cook Island

[2020-05-28 09:59] tmfrnz opened #162 "Improve page meta information and images for social media previews"
Currently the site only produces a generic preview and the dedicated preview image is sometimes not showing.

Meta/preview information (title, description and image) should be dependent on the specific page

[2020-05-28 10:37] tmfrnz commented on #160
Thanks!

[2020-06-04 12:58] adi-cam commented on #153
Next:
- [ ] Coordination with developer

[2020-06-04 13:55] tmfrnz commented on #149
the FAQ messages can now access the normal/uppercase metric name (attribute: {metric}), as well as a lowercase version (attribute: {metricLower}):
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/5afa7c45d20a11b6708715efac1b187cc9925d0a#diff-895b954c5bd89af4953a4a6cd2a74b28R188

[2020-06-04 15:08] tmfrnz commented on #138
Hi @annemariebrook ,

Just implementing the new country count, however your preference of showing a different set of countries in the overview (all countries incl where data not present) than counting in the list header can produce non-sensical results, eg
![image](https://user-images.githubusercontent.com/5811956/83774227-b96cd500-a685-11ea-8e48-069892ef502c.png)

So while I would strongly sugges

[2020-06-05 02:10] #104 closed

[2020-06-05 02:21] annemariebrook commented on #138
Thanks @tmfrnz.  Personally, I am not very bothered by the example you provide. i.e. "Showing scores for 0 countries" while showing an empty set of scores for American Samoa. However, I understand that some people may find this jarring.

I also have no objection to your 'alternative solution' of providing a separate count of the countries showing that have no data e.g. "1 country without scores" i

[2020-06-05 02:25] annemariebrook commented on #149
Fantastic. Thanks @tmfrnz.  I can't see this deployed on the live site yet, or v3.1. Is it still in development?

[2020-06-05 13:06] tmfrnz commented on #149
was only deployed to dev site, now also to 3.1 but not yet live site (with next update)

[2020-06-05 13:53] tmfrnz commented on #138
This has now been deployed to our dev site for you to review.
I have also made a small change to the text that you are welcome to edit here
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/country-numbers-138/app/translations/en.json#L870

(will also require translation)

[2020-06-05 14:15] tmfrnz commented on #142
@annemariebrook: this has now been implemented and deployed to dev and 3.1 sites

Weird, for me there are both Middle East and North Africa sub-regions
https://rightstracker-v3-1.web.app/en/countries?subregion=north-africa
https://rightstracker-v3-1.web.app/en/countries?subregion=middle-east

[2020-06-05 14:39] tmfrnz commented on #141
@annemariebrook could you quickly confirm that for CPR data the comparative assessment is only using the subregion for countries from the "Pacific" and not all subregions (as we do for ESR)?

[2020-06-05 16:47] tmfrnz commented on #141
@annemariebrook deployed to v3.1 site for you to review (CPR comparing with subregion only for Pacific countries)

As the sentence structure has been harmonised (ESR now like CPR: "Compared with ... [country] performs ... on [dimension/rights]"), please make sure to also review and update all translations (branch "[cpr-comp-assessment-141](https://github.com/HumanRightsMeasurementInitiative/hrmi-d

[2020-06-05 16:48] tmfrnz commented on #143
@annemariebrook deployed to v3.1 site for you to review

Please make sure to also review and update all "no Data: translations (branch "cpr-comp-assessment-141", field: "hrmi.components.CountryNarrative.compAssessmentCPR.noData")

[2020-06-06 03:32] annemariebrook commented on #149
Great!

[2020-06-06 03:39] annemariebrook commented on #138
Thanks @tmfrnz.  Looks good to me. Just checking: will this also be deployed to v3.0 (the live site)? I just need to know so i can advise Sarah where to add the translations. Thank you.

[2020-06-06 03:50] annemariebrook commented on #142
@tmfrnz - thanks very much. I haven't checked the actual numbers, but the way the comparison sentence is showing up on the country pages looks good!

Regarding North Africa, perhaps I somehow mis-read it earlier, but it certaintly all looks good right now!

[2020-06-06 04:01] annemariebrook commented on #141
Correct (as the Pacific is the only region where we have enough CPR data), thanks @tmfrnz.

[2020-06-06 04:27] annemariebrook commented on #143
Hi @tmfrnz, this now looks good for countries that have a partial set of data within one CPR category. However, I think we need a slightly different sentence for categories where there is no data at all.  e.g. for the Marshall Islands, we have partial data in the Empowerment category, but no data in the Safety from the State category.  see https://rightstracker-v3-1.web.app/en/country/MHL?tab=snap

[2020-06-06 04:28] annemariebrook commented on #143
@tmfrnz I propose to delay asking Sarah to update the translations until the new sentence has also been added, so she can do both at once.

[2020-06-06 04:48] annemariebrook commented on #141
This looks good to me. Thanks @tmfrnz. I will pass the translation on to Sarah.

[2020-06-06 05:00] annemariebrook opened #163 "ESR data: ensure accurate labelling for missing data"
While reviewing the missing data text for the CPRs i spotted a new problem.

For countries for which there are missing ESR data we have a generic sentence that says (e.g for Niue): https://rightstracker-v3-1.web.app/en/country/NIU?as=hi

"For Niue no rights scores are available due to missing indicator data. Missing data tells us that Niue has not submitted some information to the relevant interna

[2020-06-06 05:05] annemariebrook opened #164 "Minor request for reordering of indicators"
A very minor request from Susan who says: "I was looking at the list of rights one can click on.  I notice that affordable housing is the very last one on the list.  It should follow the other high income right to housing indicator, Safely managed sanitation."

@tmfrnz can you please move Affordable Housing to just under Safety managed sanitation?

Thank you!

[2020-06-06 05:08] #135 closed

[2020-06-06 05:09] #120 closed

[2020-06-06 05:28] annemariebrook commented on #117
@tmfrnz i just checked this, and noticed that there is a mistake for Palau, which stems from the list of country statuses in the google sheet. It says: "Associated state of New Zealand". It should say "Associated state of the United States".

Can you please fix this? I tried to edit the google doc, but don't have edit access. Do you? Thanks!

In the meantime, I will send the google doc to Sarah so

[2020-06-06 05:56] annemariebrook commented on #111
@tmfrnz i think we can now close, delete or edit this issue, as we have decided to direct users to a form on a page on our Wordpress site instead.

[2020-06-06 12:40] tmfrnz commented on #117
@annemariebrook I just fixed this in our data repository

countries table: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/blob/master/data/countries_v3.csv#L154

commit: https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/commit/b510334a40d62c96ceafeb59b342ee159d2b2b8a

[2020-06-06 12:43] tmfrnz commented on #111
Download button in header navigation to
- [ ] link to WordPress site
- [ ] have "external link" icon

[2020-06-06 12:54] tmfrnz commented on #143
To recap: we will distinguish 3 cases of missing data

1. Some rights scores missing for one of the two CPR categories (eg [ASM missing one Safet from the State score](https://rightstracker-v3-1.web.app/en/country/ASM))
2. All rights scores missing for one CPR category but (at least some) scores available for the other CPR category (eg [FSM missing all Empowerment scores](https://rightstracker-v3-

[2020-06-06 22:50] annemariebrook commented on #117
Thank you!

[2020-06-06 23:53] annemariebrook commented on #143
No that's not correct. Your second two cases above (FSM for Empowerment, and TUV for Empowerment and Safety from the Sate) are actually the same. In these cases all rights scores are missing from a CPR category for a country where we ran the survey.

Here's my recap of the 3 cases of missing data:
1. Some rights scores missing for one of the two CPR categories (eg [ASM missing one Safety from the

[2020-06-07 10:42] tmfrnz commented on #143
Thanks @annemariebrook, I will fix the 3rd case (no CPR data at all) however the problem for the 2nd case is that it is impossible to know if a survey was run in a country if there is no CPR data (eg TUV). The best we can do is infer from the presence of "(at least some) scores" which I am suggesting to use as a proxy.

That is except we are either
* (a) adding a column to the countries table (exp

[2020-06-07 10:54] annemariebrook commented on #143
Thanks @tmfrnz.  All the countries where we ran the survey but collected insufficient data are in the Pacific. So I think you can just use the "Pacific" sub-region as a proxy for where the survey was run.  I've checked, and there are no countries in the Pacific where we didn't run the survey.

So for the 2nd case, the sentence would be included if the country is in the Pacific sub-region, and ther

[2020-06-07 11:03] tmfrnz commented on #143
It would not be good practice but sure we could just check for the sub-region

[2020-06-07 11:52] tmfrnz commented on #143
This has now been implemented and deployed to our v3.1 dev site.

1. Some CPR rights but not all: https://rightstracker-v3-1.web.app/en/country/ASM
2. No CPR rights but survey run (Pacific subregion or any CPR rights scores present): https://rightstracker-v3-1.web.app/en/country/TUV?as=core
3. No CPR rights and survey not run: https://rightstracker-v3-1.web.app/en/country/CAN?as=hi

[2020-06-07 22:36] annemariebrook commented on #143
Thanks @tmfrnz.  The first two cases look good. The Canada example is still not correct. It should include the same text that is currently on the live site. e.g. https://rightstracker.org/en/country/CAN?as=hi

[2020-06-08 02:40] #155 closed

[2020-06-08 09:07] tmfrnz commented on #143
Apologies! How about now? Note that this is however only ever referring to the relevant CPR dimension and not both (this way we won't have the same text duplicated on the snapshot and more targeted on the CPR details tabs)

[2020-06-08 10:06] annemariebrook commented on #143
Looks good, thanks. Would you mind removing the TODO's from the translations for the 3rd case (e.g. Canada), so that Sarah doesn't get confused? Thanks!

I think this issue is now complete with the exception of translations for the 2nd case. Is that right?

[2020-06-08 10:27] tmfrnz commented on #143
I have left the TODOs for the 3rd case as I would like you and Sarah to review this case also as I have changed it from referring to both dimensions to only one CPR dimension

Especially the FR version where the dimension names were previously both written out in the message and lowercase

"Les données pour l'intégrité physique et l'autonomisation n'ont ..."

that has now been changed to

"Les don

[2020-06-08 10:39] annemariebrook commented on #13
@tmfrnz, today when I met with Iain I wanted to brief him on this issue . Until very recently, I could still access the v2 prototype you developed for visualising the raw indicator scores, at this link: https://hrmi-dataportal-dev.web.app/en. But today when I tried, I noticed that this link now takes me to what looks like rights tracker v3.0.

Can you restore the previous version? Or at least, can

[2020-06-08 11:10] #123 closed

[2020-06-08 11:11] tmfrnz commented on #141
@sarahbichan, this has now been merged into the v3.1 branch so feel free to review and edit the translations there

[2020-06-08 11:13] #134 closed

[2020-06-08 11:13] #128 closed

[2020-06-08 11:14] #129 closed

[2020-06-08 11:16] annemariebrook commented on #158
@adi-cam, are you still waiting for any input from me on this issue, or is it now ready to go to the new developer (Iain)?

[2020-06-08 11:17] tmfrnz opened #167 "At risk tab should be available even when data is missing"
From #124:

It should show the "missing data" text from the relevant at risk section in the category tabs.

[2020-06-08 11:17] tmfrnz commented on #124
Please refer to new issue https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/issues/167

[2020-06-08 11:17] #124 closed

[2020-06-08 11:18] #125 closed

[2020-06-08 11:19] #126 closed

[2020-06-08 11:19] #127 closed

[2020-06-08 11:19] #121 closed

[2020-06-08 11:20] tmfrnz commented on #110
note: it was decided to remove the filtering by featured category

[2020-06-08 11:20] #110 closed

[2020-06-08 11:21] #82 closed

[2020-06-08 11:21] #71 closed

[2020-06-08 11:22] #109 closed

[2020-06-08 11:22] tmfrnz commented on #142
Leaving this open in case you would like to check the actual numbers

[2020-06-08 11:23] #86 closed

[2020-06-08 11:23] #72 closed

[2020-06-08 11:24] #101 closed

[2020-06-08 11:24] #116 closed

[2020-06-08 11:25] #105 closed

[2020-06-08 11:26] #68 closed

[2020-06-08 11:27] #112 closed

[2020-06-08 11:27] #113 closed

[2020-06-08 11:27] #62 closed

[2020-06-08 11:27] #52 closed

[2020-06-08 11:31] tmfrnz commented on #84
On the single country pages underlying indicator sources are shown only on the rights info panel but not on the category info panel.

They are showing however on the single metric pages for both rights and dimensions.

[2020-06-08 11:33] #92 closed

[2020-06-08 11:34] tmfrnz opened #168 "Bug: navigation dropdowns re-open when clicking on menu item"
Instead it should close

[2020-06-08 11:35] tmfrnz commented on #19
Search and basic group pages have been implemented

[2020-06-08 11:35] #19 closed

[2020-06-08 11:35] #114 closed

[2020-06-08 11:37] #107 closed

[2020-06-08 11:37] #59 closed

[2020-06-08 11:38] #17 closed

[2020-06-08 11:38] #147 closed

[2020-06-08 11:39] tmfrnz commented on #160
fixed in v3.1

[2020-06-08 11:39] #160 closed

[2020-06-08 11:39] #149 closed

[2020-06-08 11:51] tmfrnz opened #169 "Check ES translation: net primary indicator"
There was a conflict when merging the master branch into the dev-v3.1 branch for the "Net primary
 indicator" (ES only):

Updated field in master (version 3, old data)
"hrmi.indicators-about.net-primary": "Número total de estudiantes del grupo en edad oficial de asistir a la escuela primaria que están matriculados en la educación primaria, expresado como porcentaje de la población correspondiente.

[2020-06-08 11:54] tmfrnz commented on #138
@sarahbichan please add the translations on the feature branch "country-numbers-138"
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/country-numbers-138/app/translations/en.json#L870

[2020-06-08 11:55] tmfrnz commented on #164
should this not be milestone 3.1?

[2020-06-08 14:44] tmfrnz commented on #13
Yes apologies, I have just rolled this back to the "v2-raw" version and will also share the relevant code with Iain (the relevant branches are called "raw" and "groups-and-raw")

[2020-06-08 20:25] tmfrnz commented on #164
this has now been updated and deployed to v3.1 site

[2020-06-08 20:29] annemariebrook commented on #164
@tmfrnz thanks!

[2020-06-08 22:56] annemariebrook commented on #164
Ooops yes, not sure how that happened.

Thanks for deploying this. I think this issue can now be closed.

[2020-06-09 00:27] annemariebrook opened #170 "Tweaks to time-trend chart presentation"
1. Quality of Life time-trend charts:
- In both v3.0 and v3.1, most Quality of Life right time trends are available for 11 years (2006 - 2016). However, for some the data are only available for 2 years. e.g. see the right to food for any high income country (e.g. the [United States](https://rightstracker.org/en/country/USA?as=hi&tab=report-esr)). This also means that the category scores are also o

[2020-06-09 02:07] sarahbichan commented on #169
Anne-Marie requested that this change happen only in 3.1. So, the EN should read “Net primary school enrolment rate: Number of students of the official primary school age group who are enrolled in all types of primary schools, expressed as a percentage of the total population of that age group.”  And the Spanish, therefore should read as per the text in the 3.1 version above.

[2020-06-09 02:22] sarahbichan commented on #138
Translations have now been added to this branch.

[2020-06-09 07:44] tmfrnz commented on #138
Excellent - thanks. I will now merge this both to master and v3.1 branches and deploy to v3.1 for review.

[2020-06-09 07:45] #164 closed

[2020-06-09 07:47] tmfrnz commented on #169
That is what I thought - thanks for confirming

[2020-06-09 07:47] #169 closed

[2020-06-09 08:18] tmfrnz commented on #170
@annemariebrook please see my comments below

I am not sure I understand. The range of the date axis is currently determined by the available ESR data for any country. Are you suggesting to only look at the data available for each country (also for current assessment standard? (this will very often coincide with any country as very often a full data set will be available for at least one indicator

[2020-06-09 10:29] annemariebrook commented on #170
Hi Timo,
Thanks for the questions. Quick responses below, as I’m not sure how to include images in github.
A-M

From: Timo Franz [mailto:notifications@github.com]
Sent: Tuesday, 9 June 2020 8:19 PM
To: HumanRightsMeasurementInitiative/hrmi-dataportal <hrmi-dataportal@noreply.github.com>
Cc: Anne-Marie Brook <Anne-Marie.Brook@motu.org.nz>; Mention <mention@noreply.github.com>
Subject: Re: [HumanRig

[2020-06-09 10:35] annemariebrook commented on #143
@sarahbichan, would you mind reviewing the translation files in the v3.1 branch for all remaining TODOs? I'm not sure i've passed them all on to you so this is probably the best way of checking we haven't missed any. Thank you!

[2020-06-09 23:06] tmfrnz commented on #170
@annemariebrook sorry i can neither see the images here nor in the email. you can simply drag and drop them onto the GitHub comment field, click the "Attach files..." bar below this editor , or copy and paste images right into it

[2020-06-09 23:07] tmfrnz commented on #170
you can also quote reply =)

![image](https://user-images.githubusercontent.com/5811956/84209535-b4a98600-aab6-11ea-8c86-039567048f6f.png)

[2020-06-10 00:14] annemariebrook commented on #170
OK, let me try again.
1. for the ESR time trend charts I am suggesting that we show exactly the same number of years marked on all ESR charts. i.e. 11 years – as in the chart below.  The chart below also shows 11 data points, but as you point out, in some cases there are less data points.  In that case, the years for which data are not available would just not have associated data points.
![image]

[2020-06-10 10:19] tmfrnz commented on #170
Thanks for providing these additional details @annemariebrook. This is very interesting as this appears to be a browser issue. For me on Chrome the charts are showing up as follows (and as intended):

US - Right to Food

![image](https://user-images.githubusercontent.com/5811956/84256461-38de2680-ab14-11ea-9646-fe098f14f30b.png)

US - Right to Education

![image](https://user-images.githubusercont

[2020-06-10 10:20] tmfrnz commented on #170
In the first instance I would suggest to fix these browser-inconsistencies and then consider tweaking them further

[2020-06-11 02:21] annemariebrook commented on #170
@tmfrnz - you are right. The problems i was encountering are all on firefox. I just checked on Chrome instead, and the charts are all showing up as intended. So - to summarise:
1. We need to fix the browser-inconsistencies. Is this something you want to do or @iainkirkpatrick?
2. I would still like to make the CPR charts more narrow. i.e. rather than being the same width as the ESR charts i propos

[2020-06-11 10:00] annemariebrook commented on #163
@tmfrnz, i've just updated
"hrmi.components.CountryNarrative.compAssessmentESR.noData":  to say: "For {countryWithArticle} no rights scores are available due to missing data in the relevant international databases. ",
And I've asked Sarah to update the translations of this field to match.

This means that the second sentence (i.e. "hrmi.components.CountryNarrative.compAssessmentESR.noDataMissingDa

[2020-06-11 11:10] tmfrnz commented on #163
@annemariebrook I see this has been closed? Is this still relevant/required?

[2020-06-13 11:24] tmfrnz opened #171 "Set up temporary URL ahead of data release"

[2020-06-13 11:31] tmfrnz opened #172 "Transfer Firebase project ownership to HRMI account"
Currently we are still using my Google Firebase account to host the app (as well as test and dev sites) but suggest to transfer the project to a Google account owned by HRMI or @annemariebrook. This will also require permissions for me and other developers to deploy updates.

[2020-06-14 02:28] annemariebrook commented on #172
@tmfrnz, I'm not too sure what this involves but happy to take your advice. Unless @iainkirkpatrick wants to host it on a different account?  Assuming we want to use the HRMI google account, can you please explain exactly what I need to do to progress this? e.g. do I need to open a firebase account? Is there a cost?

[2020-06-14 03:20] annemariebrook commented on #163
@tmfrnz Oops, i must have accidentally closed this.  I probably thought i was just closing the window!  Yes it is still relevant. Thank you.

[2020-06-14 04:54] annemariebrook commented on #141
Hello @tmfrnz and @sarahbichan. I think @sarahbichan told me she has loaded the translations for these fields. However, they are not showing up on v3.1. e.g. for Samoa I see this:
![image](https://user-images.githubusercontent.com/24514633/84585060-a618f100-ae5f-11ea-92c6-08a855387861.png). Keen to get these finalised ASAP, thanks both!

[2020-06-14 04:56] annemariebrook commented on #143
@sarahbichan - can you please provide an update on where this is at? Thank you.

[2020-06-14 22:39] iainkirkpatrick commented on #172
Some thoughts here:
- Is Firebase currently costing anything month-to-month for hosting? Which plan are we on?
- @tmfrnz from my understanding of the code so far, I'm not necessarily seeing

[2020-06-14 23:24] iainkirkpatrick commented on #172
Some thoughts here:
- Is Firebase currently costing anything month-to-month for hosting? Which plan are we on?
- Bamboo has a Firebase account that we host other projects on, we'd be happy to host the dataportal on our account if that's easier. Understand of course if the preference would be for it to not be tied to us :)
- When first looking through the code / project I had some thoughts around w

[2020-06-14 23:46] iainkirkpatrick commented on #170
From a brief look it looks like our charting library react-vis might have a bug in how it's handling data between browsers - also worth noting that react-vis is currently unmaintained and it sounds like Uber have moved on to other solutions https://github.com/uber/react-vis/issues/1303

[2020-06-14 23:50] annemariebrook commented on #170
Thanks @iainkirkpatrick - it would be great if you can fix these issues ASAP. Let me know if you have any questions or need anything from me.

[2020-06-14 23:57] annemariebrook commented on #172
@iainkirkpatrick I'm happy for the Rights Tracker to be hosted on Bamboo's Firebase account.
I may have already mentioned this to you, and will no doubt mention it again, but we are conscious that HRMI could come under attack at some point from a sophisticated foreign state who doesn't like what we are doing, so it is important to keep access/security as watertight as is sensible.  This doesn't se

[2020-06-15 01:04] sarahbichan commented on #143
Not started yet as I'm focusing on things that need to be done before launch. This won't be looked at till next week. Does this also need to be completed before launch?

[2020-06-15 01:10] annemariebrook commented on #143
@sarahbichan yes, definitely before launch, and ideally before Thursday this week, because that's when we will be making v3.1 will be available to journalists. I think it should be a pretty quick job.

[2020-06-15 01:11] sarahbichan commented on #143
I'll look at this now.

[2020-06-15 01:16] sarahbichan commented on #143
With a Ctrl-F search, it looks like there's only one in EN:  "hrmi.settings.scale.intro": "TODO: scale intro".  Please advise what you'd like to do with this.

No TODOs for FR or PT, but 4 in ES so I'll check those now.

[2020-06-15 01:33] annemariebrook commented on #143
I'm not sure what hrmi.settings.scale.intro is.

I don't understand why you are not finding TODO in FR or PT because this is definitely showing up on the rights tracker. e.g. go to this page: https://rightstracker-v3-1.web.app/fr/country/WSM?as=core  and read the narrative on the Quality of Rights scores.

[2020-06-15 01:34] sarahbichan commented on #143
TODOs in ES done. There seem to be places in the FR and PT (e.g. Adult Survival: "hrmi.indicators-raw.adult-survival") where there is still English, but it's not marked with a TODO. How should I treat these fields?

[2020-06-15 01:36] sarahbichan commented on #143
Mmmm. Very strange. When I searched for the text rather than the TODO, it showed up. I'll have to do a visual scan rather than a search. Bear with me.

[2020-06-15 01:38] annemariebrook commented on #143
I think this is part of the data source updates.  We had an email exchange about that last week.  This will need to be translated, but i said I donn't consider it essential to do pre-launch if you don't have time.

[2020-06-15 01:39] sarahbichan commented on #143
Definitely don't have time, sorry!

[2020-06-15 01:45] sarahbichan commented on #143
Just FYI @tmfrnz , these two fields appear in ES, FR, PT in the reverse order to EN. Not sure if it matters, but it did make it a little confusing when reviewing the translations. (So data but survey comes first for the translations).
hrmi.components.CountryNarrative.compAssessmentCPR.noDataButRights"
"hrmi.components.CountryNarrative.compAssessmentCPR.noDataButSurvey"

[2020-06-15 02:08] sarahbichan commented on #143
Hopefully the TODOs are all taken care of now.

[2020-06-15 02:30] annemariebrook commented on #143
Awesome, thanks @sarahbichan.  @tmfrnz please let us know when you've synced the latest changes.

[2020-06-15 02:42] annemariebrook commented on #117
@tmfrnz, I received the email copied below from @sarahbichan. Can you please advise if she has entered the translations for the country statuses correctly, or if they should be entered somewhere else?  Also, can you please re-provide the link to the development site where the statuses were available. I'm hoping we can launch this feature ASAP
thanks very much both,
A-M

For the country statuses wi

[2020-06-15 04:51] iainkirkpatrick commented on #170
OK, update: I think I figured out the browser inconsistency, Firefox was parsing dates differently to Chrome for our `dataForceYRange` data (which looks like it was implemented to always plot these time-trend charts from 0 on the y-axis, but was also doing the job of plotting data from the minimum year on the x-axis).
Have pushed a branch `170-fix-time-trend-presentation` which I will open a PR fo

[2020-06-15 05:03] annemariebrook commented on #170
@iainkirkpatrick - yes, i would like us to show the upper and lower figures of the band, **as well as** the means (i.e. 3 figures visible at the same time).

e.g. here's an image from the freedom of opinion and expression rights page, showing the three figures that appear on hover: ![image](https://user-images.githubusercontent.com/24514633/84619657-d036e580-af29-11ea-9ba4-ab29b2ba4b26.png)

[2020-06-15 05:08] iainkirkpatrick commented on #170
@annemariebrook sorry to be pedantic, just want to make sure I'm clear - that chart example shows the confidence band horizontally, is the intention that we show the figures at the same time for the time-trend charts but in a vertical manner? If so, I don't think there is currently an existing example of how that looks / functions in the current app (that I've seen) - and I think the current toolt

[2020-06-15 05:29] annemariebrook commented on #170
@iainkirkpatrick, agreed that we don't already have an existing example of exactly what we are after. And yes i can imagine that the font size may need to change in order to display 3 numbers vertically.  If you can see what you can do, that would be great!

[2020-06-15 13:40] tmfrnz commented on #172
Free "Spark" plan currently which should be sufficient unless the tracker's popularity grows significantly in the future
https://firebase.google.com/pricing

[2020-06-15 13:43] tmfrnz commented on #172
No strong preference but can wait until after the launch and change once Bamboo will be in charge of updates

[2020-06-15 13:57] tmfrnz commented on #163
@annemariebrook have removed that 2nd field and about to deploy to v3.1

[2020-06-15 13:57] tmfrnz commented on #163
moving to 'review'

[2020-06-15 14:15] tmfrnz commented on #141
@annemariebrook, @sarahbichan it appears that there are 2 issues with the ES translation:
1. The first part should refer to the reference group of countries (EN: "Compared with the other countries in the Pacific..." - this was caused by the variable "referenceCount" still present in the ES translation - now fixed e600001c4357f557aa9bec4f06c03c21a499594d
2. The 2nd part simply requires removing the

[2020-06-15 14:17] tmfrnz commented on #141
@sarahbichan currently the total number of "TODOS" in the language files is
- 9 in ES
- 8 in FR
- 9 in PT

Please review and update these fields

[2020-06-15 14:20] tmfrnz commented on #143
@sarahbichan are you sure you are looking at the right branch? ("dev-v3.1"). As noted here there are quite a few TODOs still
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/issues/141#issuecomment-644162725

[2020-06-15 14:21] tmfrnz commented on #143
Please ignore this as it was decided to to include a text here (this is for the categories/rights scale toggle available only on the country overview page

[2020-06-15 14:27] tmfrnz commented on #117
@annemariebrook @sarahbichan unfortunately I am not able to see these "country status" translations on the v3.1 branch (or any other branch) @sarahbichan could you check again?

And yes, they should be combined with the related (souvereign) country as stored in our countries table (data repository)

[2020-06-15 14:47] tmfrnz commented on #170
the closest thing we have is the multiple (3) tooltips for metrics that have sex breakdown (eg primary school enrolment) however the tooltips do overlap when values are close (which is not too bad for sex breakdown I guess as (a) users can determine which line to show and (b) differences in value will be small when overlapping)

agree though that it might need some design thinking for optimal plac

[2020-06-15 21:17] annemariebrook commented on #163
Looks good to me, thank you @tmfrnz. I'm happy for us to close this issue now.

[2020-06-16 01:13] sarahbichan commented on #141
The TODO highlighted in point 2 above has already been removed, but I will check for any remaining TODOs now.

[2020-06-16 01:15] sarahbichan commented on #141
I removed/reviewed the TODOs in Atom and it seemed like it let me commit the changes. Looking at it in GitHub, they are still there. I will redo this work in GitHub now to ensure it goes through properly. Not sure why it didn't work in Atom, sorry.

[2020-06-16 01:27] sarahbichan commented on #117
I can see them here (Git Desktop) and in Atom (see screenshots), but they're not showing up on github.com. I don't understand why... I'll redo them on github.com and hopefully they will come through then.
![TODO change_ES](https://user-images.githubusercontent.com/57981012/84721448-cc13d200-afd4-11ea-82a7-22c346afd6a3.jpg)
![TODO change_ES_Atom](https://user-images.githubusercontent.com/57981012/8

[2020-06-16 09:39] tmfrnz opened #175 "Translations various"
Here some additional fields for you to check (where I found inconsistencies with EN original or other issues)

- [ ] PT: "hrmi.components.CountryNarrative.compAssessmentESR.startHi" removed {referenceCount} attribute

[2020-06-16 09:40] tmfrnz commented on #117
@sarahbichan thanks!

Also see #175 for related tasks

[2020-06-17 01:14] sarahbichan commented on #175
The PT one looks fine to me. EN = Compared with all other high-income countries, {countryWithArticle} {isPlural, select, true {are} false {is}} performing ",

PT = Em comparação com todos os outros países de renda elevado, {countryWithArticle} {isPlural, select, true {estáo} false {está}} desempenho ",

For the FR one, I did this in the "first round" when it didn't come through. Must have missed i

[2020-06-19 02:06] iainkirkpatrick commented on #170
OK, updated with work addressing points 2 and 3 @annemariebrook outlined above. Charts are narrower (can check it out once this PR is merged in and we can make adjusments going forward), and there are 3 tooltips on hover for the mean and confidence band figures. Again, these are just a quick spacing / implementation from me, can adjust from feedback.

[2020-06-19 02:12] annemariebrook commented on #170
Thanks @iainkirkpatrick. Where can I see the updates?

[2020-06-19 04:04] annemariebrook commented on #170
@iainkirkpatrick, we have spotted a bug in some of the time trend charts, where all the dates seem to be overlaid on one another near the 0%. e.g. here's an example for Tuvalu.
![image](https://user-images.githubusercontent.com/24514633/85095793-8d854e00-b246-11ea-9d84-3daf0f2b20ad.png)
Can you please fix? Thank you.

[2020-06-19 09:56] tmfrnz commented on #170
You can't as I have yet to review and deploy them to the v3.1 development site - will do so in due course

[2020-06-19 09:57] tmfrnz commented on #170
Again, this appears to be related to Firefox - not sure if this has been addressed in the proposed fix

[2020-06-19 15:47] tmfrnz commented on #170
@annemariebrook @iainkirkpatrick this has now been deployed to the v3.1 dev site. I am still not entirely convinced of limiting the horizontal width for both ESR and CPR charts however (also see https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/pull/174#discussion_r442909948)

[2020-06-19 16:29] tmfrnz opened #176 "Confirm gender of France in the French language"
I believe it should be feminine (la France) and not masculine (le France) as currently specified in the grammar file.

Happy to change this as soon as you confirm @annemariebrook @sarahbichan

[2020-06-19 16:31] tmfrnz commented on #176
eg see https://www.alamyimages.fr/nouvelle-caledonie-carte-politique-avec-capital-noumea-collectivite-speciale-de-la-france-dans-l-ocean-pacifique-avec-l-archipel-de-l-ile-principale-grand-terre-image183110959.html

[2020-06-20 03:21] annemariebrook commented on #170
@tmfrnz and @iainkirkpatrick
The firefox issues all seem to have been fixed - thank you!

[2020-06-20 03:27] annemariebrook commented on #176
"... de la France" sounds correct to me. Thank you @tmfrnz

[2020-06-20 03:42] sarahbichan commented on #176
Yes, it should be feminine.

On Sat, 20 Jun 2020, 3:27 pm annemariebrook, <notifications@github.com>
wrote:

[2020-06-20 16:32] tmfrnz commented on #175
@sarahbichan could you also check

- [ ] FR: "hrmi.components.CountryNarrative.compAssessmentESR.startHi" I removed the (no longer used) {referenceCount} attribute

[2020-06-20 16:33] tmfrnz commented on #176
Thanks both for confirming, have updated the grammar accordingly

[2020-06-20 16:34] tmfrnz commented on #176
See https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal-data/commit/4b0d653ef080f5e5f8899b31052b42b30965a6ee

[2020-06-20 16:34] #176 closed

[2020-06-21 07:05] annemariebrook commented on #170
@iainkirkpatrick - one small requested change for the 3 tooltips on hover for the mean and confidence band figures. Can you please make the mean figure bolded, and the two unbolded.

We may need to look at adding an explanatory tool tip as well, once we've had a chance to do some user testing, but for now i think just 'unbolding' the confidence band figures will help with reading the numbers, and

[2020-06-21 15:31] tmfrnz commented on #161
@annemariebrook I have deployed this to our v3.1 dev site for you to review.

The translations should be added to the "161-gov-respondents" branch:
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/tree/161-gov-respondents/app/translations

The fields to be translated are:
- [ ] "hrmi.components.CountryNarrative.cpr.govRespondents"
- [ ] "hrmi.components.CountryNotes.govResponseN

[2020-06-21 21:18] annemariebrook commented on #161
Thanks @tmfrnz. This looks good to me. And thanks also for the related change (improving the logic for showing the * (HI note) on the ESR rights pages.

[2020-06-21 21:40] annemariebrook commented on #84
@tmfrnz - Thanks for following up on this tomorrow.

[2020-06-22 12:57] tmfrnz commented on #175
@annemariebrook, @sarahbichan, there are still a couple TODOs in dev-v3.1
- [ ] ES: hrmi.containers.PathCountryOverview.title - see https://rightstracker-v3-1.web.app/es/countries?as=hi
- [ ] ES: hrmi.components.ChartHeader.countries-overview - same url as above

These should be translated immediately to make sure we do not have to launch with the EN text here

[2020-06-22 13:05] tmfrnz commented on #175
@annemariebrook, @sarahbichan

Further I noticed one additional field that has not been translated yet:
- [ ] All languages: hrmi.containers.PathCountry.countryScoreExplainer.noData

[2020-06-22 13:12] tmfrnz commented on #84
This has now been fixed https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/commit/1fb4b71365670ba42743c8a2a9b4de120a8f34fa

[2020-06-22 13:21] tmfrnz opened #177 "Options for improving source information"
On the ESR single metric pages as well as the metric overlay panels on the country tabs show a list of underlying indicators for the aggregate rights and dimension scores (also see #84).

Currently this is a simple list that lists all indicators, regardless of current assessment standard and, on the dimension level, not grouped by right.

Here are a few options to consider to improving the display

[2020-06-22 13:21] tmfrnz commented on #84
These ideas have been transferred to a new issue #177, thus moving this to "review"

[2020-06-22 13:24] tmfrnz commented on #177
Further, once #89 will be implemented, it should be considered to
- [ ] also display source URL and date (from new sources lookup file)

[2020-06-22 17:12] tmfrnz commented on #89
Country level sources and they are now loaded into the indicator overlay panel on a country's ESR details tab (branch 89-alt-sources)

Eventually, they should probably also be loaded as underlying sources for right and category overlays on the single country pages

They could possibly also be loaded on the single metric pages but it may be sufficient to say that
- there may be additional/differing

[2020-06-23 08:17] annemariebrook commented on #175
Hi @sarahbichan and @tmfrnz are these translations still needed or are they now done? I can't tell. Thanks :-)

[2020-06-23 08:18] sarahbichan commented on #175
I've ticked the boxes as I added translations, so they should be all done.

[2020-06-23 08:19] annemariebrook commented on #175
awesome, thanks!

[2020-06-23 08:43] annemariebrook commented on #89
@tmfrnz i'm a little bit confused by this. Can you please provide an example country url for where there are some country level sources i can view? Thank you!

Also in this sentence above: "Eventually, they should probably also be loaded as underlying sources for right and category overlays **on the single country pages**" - do you mean "**on the single indicator/metric pages**"?  (if not i'm conf

[2020-06-23 09:19] tmfrnz commented on #89
About to set up a test site

No, I am referring to the **right** and **category (ESR)** overlay (on the ESR details tab) that list sources for all underlying indicators. The current state is that for rights and categories it still shows the default indicators, and only on the **indicator** overlay lists the alternative

[2020-06-23 09:52] annemariebrook commented on #89
OK, got it, thanks!

[2020-06-23 11:26] tmfrnz commented on #118
- [ ] Category label too wide
![image](https://user-images.githubusercontent.com/5811956/85398147-122ce080-b555-11ea-93b9-2a0fed87dcbb.png)

[2020-06-23 11:32] tmfrnz commented on #118
- [ ] slider button transparency (white) not ideal with coloured background

![image](https://user-images.githubusercontent.com/5811956/85398670-dfcfb300-b555-11ea-9d57-ced7b8aec3a2.png)

[2020-06-23 11:42] tmfrnz opened #179 "Inconsistent count of "at risk countries""
The home page states there are **34** countries we have at risk data for, but the at-risk overview states **33**

[2020-06-23 11:45] tmfrnz commented on #179
While the former (34, home page) is written into the language files ("hrmi.components.Sections.people.para1"), the latter (33, overview) is a variable argument passed and derived from the data (selector "getPeopleAtRiskCountryNo")

[2020-06-23 11:47] tmfrnz commented on #179
Suggest to
- [ ] check the data and calculation to endure correct number being calculated
- [ ] use calculated number on home page to ensure consistency

[2020-06-23 12:06] tmfrnz commented on #118
- [ ] fixed tab header overlays drop down menu

![image](https://user-images.githubusercontent.com/5811956/85401726-c8df8f80-b55a-11ea-9ab8-df2987c8c9ca.png)

[2020-06-23 12:23] tmfrnz commented on #179
Can confirm that the data set only includes data for 33 countries

[2020-06-24 10:33] tmfrnz commented on #118
- [ ] "On the Safety and Empowerment tabs on the country pages, the "Source" note is very close to the bottom of the charts. If the gap could be increased slightly (to be more like that for Quality of Life), that would be great. But not a major."

[2020-06-24 12:05] #179 closed

[2020-06-24 14:28] tmfrnz commented on #89
TODO

- [ ] ESR tab: consider including national sources for aggregate metrics (category/rights)
- [ ] Single metric: consider including national sources for indicators, rights and category or alternatively provide a hint that "additional sources may exist" and to "explore the country pages for details"

[2020-06-24 16:25] tmfrnz opened #185 "Various tasks and ideas not previously addressed"
from #118

#### Home

- [ ] Photo gallery transitions

---

#### People overview

- [ ] all tiles should have same height when in same row

---

#### Charts

- [ ] include benchmark label in trend chart
- [ ] consider small key for uncertainty bars below chart

---

#### Interaction

- [ ] include "scroll to top" button in floating tab navigation (what about country overview where we do not have t

[2020-06-24 16:25] tmfrnz commented on #118
moving open tasks as ideas to new issue
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/issues/185

[2020-06-24 16:25] #118 closed

[2020-06-24 17:12] tmfrnz commented on #146
- [ ] logo image stretches vertically

![image](https://user-images.githubusercontent.com/5811956/85598933-551daf80-b64c-11ea-9960-bb0634db7be3.png)

[2020-06-24 17:13] tmfrnz commented on #146
@iainkirkpatrick apologies, I did not get around to fixing (or mitigating) these so might have to leave this to you guys

[2020-06-24 21:52] tmfrnz opened #188 "Remove range tooltips when upper = lower = mean"
![image](https://user-images.githubusercontent.com/5811956/85631421-c9207d80-b675-11ea-807b-3bcce2762cb7.png)

Cheers @iainkirkpatrick

[2020-07-01 01:48] #172 closed

[2020-07-02 08:30] annemariebrook commented on #170
@iainkirkpatrick - just a friendly reminder about the changes requested on this issue:
- restore the width of the ESR charts to full width (it was only the CPR charts that we requested be made narrower)
- reimplent the x-axis 'padding' that was somehow lost when the CPR charts were made narrower (see discussion with timo on issue [#174](https://github.com/HumanRightsMeasurementInitiative/hrmi-data

[2020-07-02 08:37] annemariebrook opened #189 "Add key to explain open vs closed dots on ESR time-trend charts"
On the ESR time trend charts (on the Quality of Life details pages), the datapoints at the indicator level are shown using a mix of open and closed dots, depending on whether the data point is from that year (closed) or from a previous year (open).

We should add a key explaining. Related to this, Thalia and Susan also propose to add an FAQ in the right hand panel to explain what happens if there

[2020-07-02 08:44] annemariebrook opened #190 "People at risk enhancements"
On the People at Risk tabs for each country (i.e. the pages with all the wordclouds) we would like to scope out two enhancements:
1. an option at the bottom of each wordcloud to also see the associated qualitative information. We envisage this would open and close like an FAQ.
2. an option at the top of the page to select from a drop-down list which 'people group' the user is interested in. That p

[2020-07-02 08:47] annemariebrook commented on #153
I think this issue has been fully implemented. Can we close this now?

[2020-07-02 08:47] annemariebrook commented on #158
@adi-cam, please advise if there are any elements of this that @iainkirkpatrick still needs to implement. Thank you!

[2020-07-02 08:49] annemariebrook commented on #159
@adi-cam completed an exploration of options, but we decided not to implement any of the options for v3.1.  We may want to come back to this issue further down the track, but not in the short term.

[2020-07-02 08:52] annemariebrook commented on #156
@adi-cam, my understanding is that these issues have now been addressed. Is that right?

One related issue that has not yet been addressed is the question of how the user can better access the chart settings options (which are currently accessed via the "Switch view" button).  @adi-cam - it would be great if you can pass on your ideas for this to @iainkirkpatrick.  Thank you!

[2020-07-02 08:53] annemariebrook commented on #157
@adi-cam - i think some of your design suggestions here are still waiting for implementation by @iainkirkpatrick.  It might be good if you can easily highlight what the remaining issues are. Thank you!

[2020-07-02 08:56] annemariebrook opened #191 "Make ESR chart settings more accessible"
In v3.1 the chart settings for the ESR charts can be accessed via the "Switch view" button. @adi-cam has developed some design ideas for moving these settings to the right hand panel. @adi-cam I've tagged you here as I don't think we have this issue listed elsewhere on the progress board.

We would like to test @adi-cam's proposal with users, as part of the development of v3.2.

[2020-07-02 08:58] annemariebrook opened #192 "Trial uncertainty band charts on At a Glance page"
As part of the development of v3.2 we would like to test with users the idea of putting the 'uncertainty band' CPR charts on the At a Glance Page (as a replacement for the bar charts).

[2020-07-02 09:01] annemariebrook commented on #60
This issue is now covered by [#154](https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/issues/154) so i think we can now close this issue?

[2020-07-02 09:02] annemariebrook commented on #61
This issue is related to [#154](This issue is now covered by #154 so i think we can now close this issue?).

[2020-07-02 09:07] annemariebrook commented on #161
@sarahbichan - just a reminder that the translations for one of the fields listed above is still to be added. Not urgent - just checking you haven't forgotten.

[2020-07-02 09:30] tmfrnz commented on #60
yes duplicate of #154

[2020-07-02 09:30] #60 closed

[2020-07-03 02:30] sarahbichan commented on #161
Thanks, Anne-Marie. I've received the translations from Dona and will add them as soon as I can.

[2020-07-03 02:48] sarahbichan commented on #161
Oh and I assume that the translations should be added to the master now? The branch link above no longer works and I can't see a 161 gov respondents branch in the branch list. Please confirm @tmfrnz . Thanks.

[2020-07-03 04:28] annemariebrook commented on #156
@iainkirkpatrick, we had a HRMI team discussion on the remaining differences between the charts as currently shown in the Rights Tracker and those in Adina's designs. We decided we are generally happy with the way things are and do not want any significant changes. e.g. We are happy to NOT implement the Category summary bars on the At a Glance charts.  The only remaining changes we would like you

[2020-07-07 19:50] adi-cam commented on #157
@iainkirkpatrick @annemariebrook – the font size of the paragraphs in the header should be 21px on desktop and the images should go to 1440px (which is also true for the start page)

[2020-07-07 19:50] adi-cam commented on #191
I will share these ideas by email.

[2020-07-07 19:56] adi-cam commented on #158
@annemariebrook: These are all documented in the file I gave @iainkirkpatrick – it does not seem implemented yet though.

[2020-07-07 20:00] adi-cam commented on #153
@iainkirkpatrick @annemariebrook: The menu was updated but it's not aligned as in the design. The main nav points should be aligned with the bottom of the logo
![Screen Shot 2020-07-07 at 21 59 03](https://user-images.githubusercontent.com/3321011/86836011-2f0cfc00-c09d-11ea-9c97-868332c41187.png)

[2020-07-07 20:06] adi-cam commented on #158
@iainkirkpatrick: A few more things here:

- [ ] Font size is good now but the text columns should be aligned to the left side of the image above:
![Screen Shot 2020-07-07 at 22 02 04](https://user-images.githubusercontent.com/3321011/86836370-b3f81580-c09d-11ea-98b6-01e8293bf509.png)
- [ ] Footer doesn't have right logo, font size and alignment (compare design)
- [ ] People banner / teaser: Photo

[2020-07-07 20:21] adi-cam commented on #153
And it would be great if the shadow appears only on scroll :)

[2020-07-08 01:54] sarahbichan commented on #161
Now that my git tools are working again :), I've searched for "hrmi.components.CountryNarrative.cpr.govRespondents" but can't find it in the master repository. Is there still a 161 gov respondents branch? If so, please point me in the right direction, @tmfrnz . Thanks!

[2020-07-08 08:05] tmfrnz commented on #161
@sarahbichan not sure if you are looking at the right branch but the field (`hrmi.components.CountryNarrative.cpr.govRespondents`) should be in line 29, eg FR
https://github.com/HumanRightsMeasurementInitiative/hrmi-dataportal/blob/master/app/translations/fr.json#L293

[2020-07-08 08:06] tmfrnz commented on #161
@sarahbichan that is in the master branch

[2020-07-09 01:48] sarahbichan commented on #161
Done :).

[2020-07-10 02:34] iainkirkpatrick commented on #162
This is tricky with the current site architecture - when social media sites attempt to generate preview content for a post, they look for specific Open Graph `<meta>` tags in the initial HTML served by the site server when they access a particular URL (i.e. https://rightstracker.org/en/country/NZL?as=hi). In our case, we have a single (minimal) initial HTML file that is served for all our relevant

[2020-07-10 04:21] iainkirkpatrick commented on #61
Great to be able to reference the options outlined above by @tmfrnz. I'm not sure I understand why option 3 (server-side / screenshot of print version of website) would mean there is less effort for programming the PDF layout though - don't we have to implement that no matter what option we take?

@adi-cam also outlined another option in the [linked issue](https://github.com/HumanRightsMeasurement

[2020-07-10 04:26] iainkirkpatrick commented on #190
@annemariebrook any easy explanation for what the associated qualitative information is? i.e for Right to Food, is it just the copy at the top of https://rightstracker.org/en/metric/food?as=hi?

[2020-07-13 06:13] annemariebrook commented on #190
@iainkirkpatrick, the qualitative information is the information that people enter in the open text boxes of our survey, about who is at risk of each type of rights violation. We then translate, transcribe and publish this information at the bottom of the details tabs on the country pages. So this information is only available for the countries where we have run the survey. e.g. for NZ, you can se

[2020-07-13 06:47] tmfrnz commented on #61
.

This is for taking a screenshot of the actual app (or a special rendering of it, triggered eg by passing an arg in the URL) resulting in an image file that could be embedded in to a PDF. Have successfully implemented this before when exporting maps

Hmm not sure but I would assume most people know the print feature

I do not think pregenerating is a good idea as it will have to be re-done every

[2020-07-14 04:43] annemariebrook commented on #61
In response to this comment by @tmfrnz: "I do not think pregenerating is a good idea as it will have to be re-done every time the data or layout changes. Also it will likely not have the flexibility to export a specific version of a chart the user may want. Remember we have sooo many metrics & settings"

Last time I discussed this with the team, we thought it might be best to allow users to print

[2020-07-14 04:50] annemariebrook commented on #162
Thanks @iainkirkpatrick. As you guessed, this is beyond my technical ability to comment on. However, I wonder if - rather than taking a comprehensive approach to this - we focus only on the option to share the country pages and rights pages (which are the ones Thalia shares the most) and have the social media preview content be the photo or icon image that is shown at the top of each of those page

[2020-07-14 08:44] tmfrnz commented on #162
See also related discussions on react-helmet (the library we use to update each view's meta information), including some options
- https://github.com/nfl/react-helmet/issues/442
- https://github.com/nfl/react-helmet/issues/489

[2020-07-14 08:45] #171 closed

[2020-07-16 23:55] iainkirkpatrick opened #194 "Automatic deployments"
We could use Github Actions to automate our deployments to Firebase - see Github Action here https://github.com/marketplace/actions/github-action-for-firebase and article outlining the approach here https://blog.logrocket.com/setting-up-continuous-deployment-with-react-firebase-and-github-actions/

Would be nice to have automatic branch deployments for HRMI staff to test / sign off on changes.

Wo

[2020-07-17 00:00] iainkirkpatrick opened #195 "Improve PageSpeed"
Currently the site gets a reasonably average score on PageSpeed Insights https://developers.google.com/speed/pagespeed/insights/?url=rightstracker.org&tab=desktop (and performs worse for mobile).

There are potentially a number of technical improvements we could make to address speed - I can fill out ideas when this becomes more of a priority.

[2020-07-20 01:37] iainkirkpatrick commented on #61
Progress update team:

Putting aside the question of _when_ the PDF generation is done for the moment, I've gone down the path of using Puppeteer + print-css styling to actually generate the PDF. I'd been interested in using react-pdf as mentioned above but the lack of proper SVG support to correctly render the graphs (at least not until react-pdf [hits V2](https://github.com/diegomura/react-pdf/p

[2020-07-20 02:34] annemariebrook commented on #61
Thanks Iain. Overall this looks good.
Not sure what level of feedback you are looking for from me, as it's obviously still a work in progress, so you are probably already aware of the following, but just in case not, a few things I have noticed are:
- logo at top is wrong size and partially cut off. Other aspects of header not as designed.
- header photo is too tall
- Fonts of rights headers (e.g.

[2020-08-04 21:39] annemariebrook commented on #170
Hi @iainkirkpatrick Susan and I just noticed a slightly unusual chart - it's the secondary education time trend for UAE.
https://rightstracker.org/en/country/ARE?as=hi&tab=report-esr

![image](https://user-images.githubusercontent.com/24514633/89347743-71a71000-d6ff-11ea-9cdf-3d98fd5dfefd.png)

As you will see, there are open circles for the years 2007 and 2008 and solid circles for 2016 and 2017,

[2020-08-10 00:32] iainkirkpatrick commented on #170
@annemariebrook just getting back to you on the above issue re UAE chart - I think this would likely not be a simple change, as we'd still want a line if the data was only a year or two apart, right? So there would need to be some 'cut-off' we decide for when not to draw a line. If possible, I think it'd be good to look at this with the 3.2 change list :)

[2020-08-10 02:21] annemariebrook commented on #170
@iainkirkpatrick, i think it's simpler than that. Even if the open dots and solid dots were only one or two years apart we would not want a line connecting them.
In practice, I think there are very few examples of this, and it's certainly not urgent. So if you want to put it off til the 3.2 change list that is fine with me. But unless I have misunderstood something, i think it should be a pretty s